<section class="installers-section">
  <h2>{{ 'home.downloadPage.downloadHeading' | translate }}</h2>
  <p>{{ 'home.downloadPage.downloadText' | translate }}</p>

  <article>
    <h3 class="mat-h3" id="cloud-installers">
      {{ 'home.downloadPage.cloudInstallersHeading' | translate }}
    </h3>

    <ul
      class="flex-list-container"
      [class.x-small]="breakpointService.isXSmallScreen | async"
      aria-labelledby="cloud-installers">
      <li *ngFor="let link of cloudInstallerLinks">
        <df-icon-card-link [linkInfo]="link"></df-icon-card-link>
      </li>
    </ul>
  </article>

  <article>
    <h3 class="mat-h3" id="local-installers">
      {{ 'home.downloadPage.localInstallersHeading' | translate }}
    </h3>

    <ul
      class="flex-list-container"
      [class.x-small]="breakpointService.isXSmallScreen | async"
      aria-labelledby="local-installers">
      <li *ngFor="let link of localInstallerLinks">
        <df-icon-card-link [linkInfo]="link"></df-icon-card-link>
      </li>
    </ul>
  </article>
</section>
>
