<div
  class="app-container"
  [class.small]="isSmallScreen | async"
  [class.logged-in]="isLoggedIn$ | async">
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav
      #sideNav
      [opened]="(isSmallScreen | async) === false"
      class="sidenav"
      [mode]="(isSmallScreen | async) ? 'over' : 'side'">
      <mat-nav-list *ngIf="isLoggedIn$ | async">
        <img class="logo" src="assets/img/logo.png" alt="Logo" routerLink="/" />
        <ng-container *ngFor="let item of nav">
          <a
            *ngIf="!item.subRoutes; else subRoutes"
            mat-list-item
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <span>{{ navLabel(item.route) }}</span>
          </a>
          <ng-template #subRoutes>
            <mat-expansion-panel
              [class.mat-elevation-z0]="true"
              [expanded]="isActive(item)">
              <mat-expansion-panel-header class="parent-route">
                {{ navLabel(item.route) }}
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a
                  *ngFor="let subRoute of item.subRoutes"
                  mat-list-item
                  [routerLink]="item.route + '/' + subRoute.route"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }">
                  <span>{{ navLabel(item.route + '/' + subRoute.route) }}</span>
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
          </ng-template>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <ng-container *ngIf="isLoggedIn$ | async">
        <mat-toolbar>
          <button
            mat-icon-button
            (click)="sideNav.toggle()"
            *ngIf="isSmallScreen | async">
            <fa-icon [icon]="faBars"></fa-icon>
          </button>
          <span class="spacer"></span>
          <button mat-button [matMenuTriggerFor]="profileMenu">
            {{ (userData$ | async)?.name }}
          </button>
          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item [routerLink]="['/profile']">
              {{ 'nav.profile.header' | translate }}
            </button>
            <button mat-menu-item (click)="logout()">
              {{ 'nav.logout.header' | translate }}
            </button>
          </mat-menu>
        </mat-toolbar>
        <div class="banner">
          <h1 class="page-header">{{ pageHeader() }}</h1>
        </div>
      </ng-container>
      <div class="main">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
