@use '@angular/material' as mat;
@use 'src/theme' as theme;
$df-purple-palette: mat.define-palette(theme.$df-purple-palette);
$red-palette: mat.define-palette(mat.$red-palette);

.logo {
  height: 40px;
  cursor: pointer;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mat-toolbar {
  background-color: #f6f2fa;
  padding: 16px;
  min-height: 72px;
  display: flex;
  align-items: center;

  .button-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      margin-bottom: -4px;
    }
  }

  .search-bar {
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 1 auto;
    border: 1px solid #ebe7ef;
    border-radius: 50px;
    background-color: #ebe7ef;
    overflow: hidden;
    width: 300px;
    height: 50px;
    font-size: 24px;
  }
  .search-input {
    border: none;
    background-color: #ebe7ef;
    color: #47464f;
    font-size: 20px;
    &:focus {
      outline: none;
    }
  }
  .search-icon {
    color: #47464f;
    padding-left: 14px;
  }
}

.search-btn {
  font-size: 1.6rem;
  font-weight: 400;
  height: 46px;
  background: none;
  border: none;
  padding: 0 16px;
  font-family: var(--mat-expansion-header-text-font);
  color: var(--mat-expansion-container-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;

  span {
    margin-left: 6px;
  }
}

.profile-icon {
  color: #0f0761;
}

.sidenav-container {
  background-color: #f6f2fa;
  flex: 1 1 auto;
  .sidenav {
    background-color: #0f0761;
    min-width: 40%;
    border: none;
    transition: min-width 0.3s ease-out;
    max-width: 450px;

    .login-side-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        gap: 8px;
        width: 100%;
        .image-wrapper {
          width: calc(40% - 8px);
          padding: 10px;

          img {
            width: 60%;
            height: auto;
          }

          h3 {
            color: #fff;
          }
        }
      }
    }

    .small & {
      min-width: 0;
    }
    .logged-in & {
      min-width: 20%;
      background-color: #f6f2fa;
    }
    .logged-in.small & {
      min-width: 40%;
    }
    .parent-route {
      font-size: 1.6rem;
      font-weight: 400;
      height: 48px;
      padding: 0 16px;
      gap: 4px;
      background: #f6f2fa;
    }
    ::ng-deep {
      .mat-expansion-panel-body {
        padding: 0 0 0 16px !important;
        background: #f6f2fa;
      }
    }
    .nav-item {
      // background-color: #f6f2fa;
      height: 48px;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 400;
      border-radius: 0;
      justify-content: left;
      display: flex;
      align-items: center;
      gap: 6px;
      ::ng-deep .mat-mdc-button-touch-target {
        background-color: #f6f2fa;
      }
      &.active {
        ::ng-deep .mat-mdc-button-touch-target {
          background-color: #e3dfff;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
        }
        background-color: #e3dfff !important;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0;
        width: 95%;
      }
      .expansion-panel {
        background-color: #f6f2fa;
      }
    }
  }
  .sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px 20px 24px;
    background: #f6f2fa;
    .content-wrapper {
      padding: 2px;
      border: 1px solid  #f6f2fa;
      background-color: #f6f2fa;
      border-radius: 6px !important;
    }
    .banner {
      flex-shrink: 0;
      width: 100%;
      padding-bottom: 40px;
      background-color: #fff;
      .page-header {
        padding: 32px 16px 0 16px;
      }
    }
    .main {
      flex-grow: 1;
      &.no-error {
        .logged-in & {
          margin-top: -60px;
          padding: 16px 20px;
          background-color: white;
        }
        .logged-in.small & {
          margin: 0;
          margin-top: -60px;
          padding: 16px 20px;
        }
      }
    }
  }
}

.small {
  ::ng-deep {
    .mat-expansion-panel-header {
      padding: 0 8px;
    }
    .mat-expansion-panel-body {
      padding: 0 8px 8px 8px !important;
    }
  }
}

::ng-deep {
  .mat-expansion-panel-body {
    overflow-x: auto;
  }
  .mat-expansion-panel {
    background: #f6f2fa;
  }
}

.license-expired {
  display: flex;
  flex-direction: column;
  background-color: mat.get-color-from-palette($red-palette, 600);
  color: white;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 16px;
}

.breadcrumb-link {
  color: white;
}

.dark-theme {
  .tool-bar,
  .sidenav-container,
  .sidenav,
  .nav-item,
  .expansion-panel {
    background-color: mat.get-color-from-palette(
      $df-purple-palette,
      1003
    ) !important;
  }

    .parent-route {
      background-color: mat.get-color-from-palette(
        $df-purple-palette,
        1003
      ) !important;
    }

    .nav-item {
      ::ng-deep .mat-mdc-button-touch-target {
        background-color: mat.get-color-from-palette(
          $df-purple-palette,
          1003
        ) !important;
      }
    }
    &.active {
      ::ng-deep .mat-mdc-button-touch-target {
        background-color: #e3dfff;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
  
  .nav-item {
    &.active {
      ::ng-deep .mat-mdc-button-touch-target {
        background-color: mat.get-color-from-palette(
          $df-purple-palette,
          600
        ) !important;
      }
      ::ng-deep .mdc-button__label > span {
        background-color: mat.get-color-from-palette(
          $df-purple-palette,
          600
        ) !important;
      }
    }

    img {
      filter: invert(1) !important;
    
    }
  }
  .banner,
  .main {
    background-color: mat.get-color-from-palette(
      $df-purple-palette,
      1002
    ) !important;
    color: white;
    .page-header {
      color: mat.get-color-from-palette($df-purple-palette, 10) !important;
    }
  }
  .sidenav-content {
    background-color: mat.get-color-from-palette(
      $df-purple-palette,
      1003
    ) !important;
    color: white;
    .page-header {
      color: mat.get-color-from-palette($df-purple-palette, 10) !important;
    }
  }

  
  .content-wrapper {
    padding: 2px;
    border: 1px solid  mat.get-color-from-palette($df-purple-palette, 1001) !important;
    background-color: mat.get-color-from-palette($df-purple-palette, 1002) !important;
    border-radius: 6px !important;
  }
}
