<div
  class="app-container"
  [class.small]="isSmallScreen | async"
  [class.logged-in]="isLoggedIn$ | async">
  <ng-container *ngIf="isLoggedIn$ | async">
    <mat-toolbar>
      <button mat-icon-button (click)="sideNav.toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <img class="logo" src="assets/img/logo.png" alt="Logo" routerLink="/" />
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="profileMenu">
        {{ (userData$ | async)?.name }}
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          {{ 'nav.profile.header' | transloco }}
        </button>
        <button mat-menu-item (click)="logout()">
          {{ 'nav.logout.header' | transloco }}
        </button>
      </mat-menu>
    </mat-toolbar>
  </ng-container>
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav
      #sideNav
      [disableClose]="(isSmallScreen | async) === false"
      [opened]="(isSmallScreen | async) === false"
      class="sidenav"
      [mode]="(isSmallScreen | async) ? 'over' : 'side'">
      <mat-nav-list *ngIf="isLoggedIn$ | async">
        <ng-container
          *ngTemplateOutlet="
            navList;
            context: { $implicit: nav }
          "></ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <ng-container *ngIf="isLoggedIn$ | async">
        <div class="banner" *ngIf="(hasError$ | async) === false">
          <h1 class="page-header">{{ pageHeader() | transloco }}</h1>
        </div>
      </ng-container>
      <div class="main" [class.no-error]="(hasError$ | async) === false">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #navList let-items>
  <ng-container *ngFor="let item of items">
    <a
      *ngIf="!item.subRoutes; else subRoutes"
      mat-list-item
      [routerLink]="item.route"
      [class.active]="isActive(item)">
      <span>{{ navLabel(item.route) | transloco }}</span>
    </a>
    <ng-template #subRoutes>
      <mat-expansion-panel
        [class.mat-elevation-z0]="true"
        [expanded]="isActive(item)">
        <mat-expansion-panel-header class="parent-route">
          {{ navLabel(item.route) | transloco }}
        </mat-expansion-panel-header>
        <mat-nav-list>
          <ng-container
            *ngTemplateOutlet="
              navList;
              context: { $implicit: item.subRoutes }
            "></ng-container>
        </mat-nav-list>
      </mat-expansion-panel>
    </ng-template>
  </ng-container>
</ng-template>
