mat-expansion-panel-header {
  padding: 0 12px;
}
.curl-command-text {
  white-space: pre;
  font-family: monospace;
  font-size: 0.9em;
  margin: 0;
  color: var(--df-script-editor-text-color);
  overflow-x: auto;
}

.curl-commands-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .actions-container {
    padding: 0px 8px;
  }
}

.curl-command-title {
  margin: 0;
  font-weight: bold;
}

.curl-command-note {
  color: gray !important;
}

.no-commands-container {
  ul {
    padding-left: 20px;
    li {
      margin-bottom: 10px;
    }
  }

  span[class^='method-'] {
    font-weight: bold;
    font-family: monospace;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
  }

  .method-get {
    background-color: #61affe; // blue
  }
  .method-post {
    background-color: #49cc90; // green
  }
  .method-put {
    background-color: #fca130; // orange
  }
  .method-patch {
    background-color: #fca130; // orange
  }
  .method-delete {
    background-color: #f93e3e; // red
  }
}
