.table-details-form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .flex-50 {
    width: calc(50% - 0.5rem);
  }

  .flex-100 {
    width: 100%;
  }

  .margin-2-0 {
    margin: 2rem 0;
  }

  &.x-small {
    .flex-50 {
      width: 100%;
    }
  }
}

.json-area {
  min-height: 400px;
}
