<div class="container">
  <h1>{{ 'apps.importApp.title' | transloco }}</h1>
  <p>
    <strong>{{ 'apps.importApp.subtitle' | transloco }}</strong>
  </p>
  <p>{{ 'apps.importApp.description' | transloco }}</p>
  <div class="sample-apps-container">
    <div *ngFor="let sample of sampleApps">
      <button
        mat-stroked-button
        type="button"
        (click)="selectApp(sample.packageUrl)">
        {{ 'select' | transloco }}
      </button>
      <a [href]="sample.repoUrl" target="_blank">
        {{ 'apps.importApp.optionsPrefix' | transloco }}
        {{ sample.name }}
      </a>
    </div>
  </div>
  <form [formGroup]="importForm" (ngSubmit)="onSubmit()" class="form-container">
    <input
      type="file"
      accept=".dfpkg"
      #fileInput
      (change)="fileInputChange($event)"
      style="display: none" />
    <div class="file-select">
      <button
        mat-flat-button
        color="primary"
        type="button"
        [attr.aria-label]="'browse' | transloco"
        (click)="fileInput.click()">
        {{ 'browse' | transloco }}
      </button>

      <mat-form-field>
        <input
          matInput
          formControlName="filePath"
          required
          placeholder="{{ 'apps.importApp.url.placeholder' | transloco }}" />
        <mat-error *ngIf="importForm.controls['filePath'].hasError('required')">
          {{ 'apps.importApp.error' | transloco }}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>{{ 'apps.importApp.storageService' | transloco }}</mat-label>
      <mat-select formControlName="storageService">
        <mat-option value="0">-</mat-option>
        <mat-option value="3">{{
          'apps.importApp.files' | transloco
        }}</mat-option>
        <mat-option value="4">{{
          'apps.importApp.logs' | transloco
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'apps.importApp.storageFolder' | transloco }}"
        formControlName="storageFolder" />
    </mat-form-field>
    <div>
      <button mat-flat-button type="button" (click)="goBack()">
        {{ 'cancel' | transloco }}
      </button>
      <button mat-flat-button color="primary" type="submit">
        {{ 'submit' | transloco }}
      </button>
    </div>
  </form>
</div>
