.user-details {
  display: flex;
  flex-direction: row;
  gap: 32px;
  &.small {
    flex-direction: column;
  }
  > * {
    flex: 1;
  }
  .additional-info {
    display: flex;
    flex-direction: column;
    button {
      width: fit-content;
    }
  }
  .access-tabs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 240px;
  }
}
