<mat-form-field subscriptSizing="dynamic">
  <mat-label *ngIf="showLabel">{{ schema.label }}</mat-label>
  <mat-select
    [formControl]="control"
    [multiple]="this.type === 'verb_multiple' || this.type === 'number'"
    [attr.aria-label]="schema.label">
    <mat-option *ngFor="let verb of verbs" [value]="verb.value">
      {{ verb.label | transloco }}
    </mat-option>
  </mat-select>
  <fa-icon
    *ngIf="schema.description"
    class="tool-tip-trigger"
    matSuffix
    [icon]="faCircleInfo"
    [matTooltip]="schema.description" />
</mat-form-field>
