.table-relationships-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  // TODO: decide on layout style
  .flex-50 {
    // width: calc(50% - 0.5rem);
    width: 100%;
  }

  .flex-100 {
    width: 100%;
  }

  &.x-small {
    .flex-50 {
      width: 100%;
    }
  }
}
