.user-management-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .user-management-card {
    padding: 16px 16px;
    margin: 0 auto;
    min-width: 300px;
    max-width: 445px;
    box-shadow: var(--mdc-elevated-card-container-elevation);
    --mdc-elevated-card-container-shape: 4px;
    --mdc-outlined-card-container-shape: 4px;
    --mdc-outlined-card-outline-width: 1px;
    mat-card-header {
      padding-bottom: 16px;
    }
    mat-card-content {
      padding-top: 16px;
      .services-section {
        padding-top: 32px;
        .services-container {
          display: flex;
          flex-wrap: wrap;
          padding-top: 16px;
          gap: 16px;
        }
      }
    }
    mat-form-field,
    button {
      width: 100%;
    }
    .action-links {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.user-management-card-container {
  margin-top: 20vh;

  &.dark-theme {
    background-color: #1e1e1e;
    color: #fff;
  }
}
