@use '@angular/material' as mat;
@use 'src/theme' as theme;
$df-purple-palette: mat.define-palette(theme.$df-purple-palette);

.dark-theme {
  ::ng-deep .mdc-notched-outline > * {
    border-color: white !important;
  }
  input,
  mat-label,
  mat-select,
  mat-option,
  textarea,
  span {
    color: white;
  }
}
