<form
  [formGroup]="serviceForm"
  class="details-section"
  [class]="(isDarkMode | async) ? 'dark-theme' : ''"
  (ngSubmit)="save()">
  <ng-container *ngIf="this.isDatabase && !this.edit; else notDatabase">
    <mat-stepper linear #stepper>
      <mat-step errorMessage="Service Type is required." [editable]="true">
        <ng-template matStepLabel>
          {{ 'services.controls.serviceType.label' | transloco }}</ng-template
        >
        <div class="details-section">
          <div class="section-header">
            <h3>
              Search for your
              {{ 'services.controls.serviceType.label' | transloco }} to get
              started
              <fa-icon
                class="tool-tip-trigger"
                matSuffix
                [icon]="faCircleInfo"
                [matTooltip]="
                  'services.controls.serviceType.tooltip' | transloco
                " />
            </h3>
            <div>
              <button
                mat-button
                matStepperNext
                type="button"
                [disabled]="serviceForm.get('type')?.value === ''">
                Next
              </button>
            </div>
          </div>
          <mat-form-field class="dynamic-width" appearance="outline">
            <mat-label>Search service types...</mat-label>
            <input
              matInput
              [(ngModel)]="search"
              placeholder="SQL, AWS, MongoDB, etc."
              [ngModelOptions]="{ standalone: true }" />
          </mat-form-field>
          <!-- <mat-form-field class="dynamic-width" appearance="outline">
            <mat-label>{{
              'services.controls.serviceType.label' | transloco
            }}</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of serviceTypes" [value]="type.name">
                {{ type.label }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <div class="full-width">
            <div class="grid-wrapper grid-col-auto">
              <label
                class="radio-card"
                *ngFor="let type of filteredServiceTypes; let i = index">
                <input
                  formControlName="type"
                  type="radio"
                  [value]="type.name"
                  (input)="nextStep(stepper)" />
                <div class="card-content-wrapper" [class]="type.class">
                  <span class="check-icon"></span>
                  <div class="card-content">
                    <img
                      class="card-icon"
                      [src]="getBackgroundImage(type.name)"
                      [alt]="type.label" />
                    <h4>
                      {{ type.label }}
                    </h4>
                  </div>
                </div>
              </label>
              <label
                class="radio-card"
                *ngFor="let type of notIncludedServices; let i = index">
                <input
                  formControlName="type"
                  type="radio"
                  [value]="type.name"
                  (input)="nextStep(stepper)"
                  [attr.disabled]="true" />
                <div class="card-content-wrapper" [class]="type.class">
                  <span class="check-icon"></span>
                  <div class="card-content">
                    <img
                      class="card-icon"
                      [src]="getBackgroundImage(type.name)"
                      [alt]="type.label" />
                    <h4 class="text-center" style="color: black !important">
                      {{ type.label }}
                    </h4>
                  </div>
                </div>
                <ng-container *ngIf="type.class === 'not-included'">
                  <button mat-button (click)="openDialog()" class="unlock-btn">
                    Unlock Now
                  </button>
                </ng-container>
              </label>
            </div>
          </div>
          <div>
            <button
              mat-button
              matStepperNext
              type="button"
              [disabled]="serviceForm.get('type')?.value === ''">
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Service Details</ng-template>
        <br />
        <div class="details-section">
          <mat-form-field
            subscriptSizing="dynamic"
            class="dynamic-width"
            *ngIf="!subscriptionRequired"
            appearance="outline">
            <mat-label>{{
              'services.controls.namespace.label' | transloco
            }}</mat-label>
            <input matInput formControlName="name" />
            <fa-icon
              class="tool-tip-trigger"
              matSuffix
              [icon]="faCircleInfo"
              [matTooltip]="
                'services.controls.namespace.tooltip' | transloco
              " />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="dynamic-width"
            *ngIf="!subscriptionRequired">
            <mat-label>{{
              'services.controls.label.label' | transloco
            }}</mat-label>
            <input matInput formControlName="label" />
            <fa-icon
              class="tool-tip-trigger"
              matSuffix
              [icon]="faCircleInfo"
              [matTooltip]="'services.controls.label.tooltip' | transloco" />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="full-width"
            *ngIf="!subscriptionRequired">
            <mat-label>{{
              'services.controls.description.label' | transloco
            }}</mat-label>
            <textarea
              rows="1"
              matInput
              formControlName="description"></textarea>
            <fa-icon
              class="tool-tip-trigger"
              matSuffix
              [icon]="faCircleInfo"
              [matTooltip]="
                'services.controls.description.tooltip' | transloco
              " />
          </mat-form-field>
          <div class="action-container">
            <mat-slide-toggle
              color="primary"
              formControlName="isActive"
              *ngIf="!subscriptionRequired"
              >{{ 'active' | transloco }}</mat-slide-toggle
            >
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button
                mat-button
                matStepperNext
                type="button"
                [disabled]="
                  serviceForm.get('type')?.value === '' &&
                  serviceForm.get('description')?.value === ''
                ">
                Next
              </button>
            </div>
            <div></div>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Service Options</ng-template>
        <br />
        <ng-container *ngIf="viewSchema && !subscriptionRequired">
          <ng-container formGroupName="config">
            <mat-accordion class="full-width">
              <div class="details-section">
                <ng-container *ngFor="let item of viewSchema">
                  <ng-container
                    *ngIf="
                      item.type === 'text' && item.name === 'content';
                      else dynamic
                    ">
                    <df-script-editor
                      [type]="getControl('type')"
                      [storageServiceId]="getConfigControl('storageServiceId')"
                      [storagePath]="getConfigControl('storagePath')"
                      [content]="getConfigControl('content')"
                      [cache]="serviceData ? serviceData.name : ''"
                      class="full-width"></df-script-editor>
                  </ng-container>
                  <ng-template #dynamic>
                    <df-dynamic-field
                      *ngIf="
                        [
                          'integer',
                          'password',
                          'string',
                          'text',
                          'picklist',
                          'multi_picklist',
                          'boolean',
                          'file_certificate'
                        ].includes(item.type)
                      "
                      [schema]="item"
                      [formControl]="getConfigControl(item.name)"
                      [class.dynamic-width]="item.type !== 'file_certificate'"
                      [class.full-width]="
                        item.type === 'file_certificate'
                      "></df-dynamic-field>
                    <df-array-field
                      *ngIf="item.type === 'array' || item.type === 'object'"
                      [schema]="item"
                      [formControl]="getConfigControl(item.name)"
                      class="full-width"></df-array-field>
                  </ng-template>
                </ng-container>
              </div>
            </mat-accordion>
          </ng-container>
        </ng-container>
        <div class="full-width action-bar" *ngIf="!subscriptionRequired">
          <button
            class="cancel-btn"
            mat-flat-button
            type="button"
            (click)="goBack()">
            {{ 'cancel' | transloco }}
          </button>
          <button class="save-btn" mat-flat-button color="primary">
            {{ 'save' | transloco }}
          </button>
        </div>
      </mat-step>
      <!-- change default 'edit' & 'done' icon -->
      <ng-template matStepperIcon="edit" let-index="index">
        <ng-container [ngSwitch]="index">
          <mat-icon *ngSwitchCase="0">1</mat-icon>
          <mat-icon *ngSwitchCase="1">2</mat-icon>
          <mat-icon *ngSwitchCase="2">3</mat-icon>
        </ng-container>
      </ng-template>
      <ng-template matStepperIcon="done" let-index="index">
        <ng-container [ngSwitch]="index">
          <mat-icon *ngSwitchCase="0">1</mat-icon>
          <mat-icon *ngSwitchCase="1">2</mat-icon>
          <mat-icon *ngSwitchCase="2">3</mat-icon>
        </ng-container>
      </ng-template>
    </mat-stepper>
  </ng-container>
  <ng-template #notDatabase>
    <mat-form-field
      subscriptSizing="dynamic"
      class="dynamic-width"
      appearance="outline">
      <mat-label>{{
        'services.controls.serviceType.label' | transloco
      }}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of serviceTypes" [value]="type.name">
          {{ type.label }}
        </mat-option>
      </mat-select>
      <fa-icon
        class="tool-tip-trigger"
        matSuffix
        [icon]="faCircleInfo"
        [matTooltip]="'services.controls.serviceType.tooltip' | transloco" />
    </mat-form-field>
    <mat-form-field
      subscriptSizing="dynamic"
      class="dynamic-width"
      appearance="outline"
      *ngIf="!subscriptionRequired">
      <mat-label>{{
        'services.controls.namespace.label' | transloco
      }}</mat-label>
      <input matInput formControlName="name" />
      <fa-icon
        class="tool-tip-trigger"
        matSuffix
        [icon]="faCircleInfo"
        [matTooltip]="'services.controls.namespace.tooltip' | transloco" />
    </mat-form-field>
    <mat-form-field
      subscriptSizing="dynamic"
      appearance="outline"
      class="full-width"
      *ngIf="!subscriptionRequired">
      <mat-label>{{ 'services.controls.label.label' | transloco }}</mat-label>
      <input matInput formControlName="label" />
      <fa-icon
        class="tool-tip-trigger"
        matSuffix
        [icon]="faCircleInfo"
        [matTooltip]="'services.controls.label.tooltip' | transloco" />
    </mat-form-field>
    <mat-form-field
      subscriptSizing="dynamic"
      class="full-width"
      appearance="outline"
      *ngIf="!subscriptionRequired">
      <mat-label>{{
        'services.controls.description.label' | transloco
      }}</mat-label>
      <textarea rows="1" matInput formControlName="description"></textarea>
      <fa-icon
        class="tool-tip-trigger"
        matSuffix
        [icon]="faCircleInfo"
        [matTooltip]="'services.controls.description.tooltip' | transloco" />
    </mat-form-field>
    <mat-slide-toggle
      formControlName="isActive"
      color="primary"
      *ngIf="!subscriptionRequired"
      ><span>{{ 'active' | transloco }}</span></mat-slide-toggle
    >
    <ng-container *ngIf="viewSchema && !subscriptionRequired">
      <ng-container formGroupName="config">
        <mat-accordion class="full-width">
          <mat-expansion-panel [expanded]="serviceForm.getRawValue().type">
            <mat-expansion-panel-header
              >{{ 'services.options' | transloco }}s
            </mat-expansion-panel-header>
            <div class="details-section">
              <ng-container *ngIf="this.isNetworkService">
                <mat-button-toggle-group
                  aria-label="Service Definition Type"
                  [(ngModel)]="serviceDefinitionType"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="
                    onServiceDefinitionTypeChange(serviceDefinitionType)
                  ">
                  <mat-button-toggle value="0">JSON</mat-button-toggle>
                  <mat-button-toggle value="1">YAML</mat-button-toggle>
                </mat-button-toggle-group>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Service Definition</mat-label>
                  <textarea
                    matInput
                    rows="10"
                    [(ngModel)]="serviceDefinition"
                    [ngModelOptions]="{ standalone: true }"></textarea>
                </mat-form-field>
              </ng-container>

              <!-- <ng-container *ngIf="this.isNetworkService">
                <df-script-editor
                  [type]="getControl('type')"
                  formControlName="content"
                  [storageServiceId]="getConfigControl('storageServiceId')"
                  [storagePath]="getConfigControl('storagePath')"
                  [content]="getConfigControl('content')"
                  [cache]="serviceData ? serviceData.name : ''"
                  class="full-width"></df-script-editor
              ></ng-container> -->

              <ng-container *ngFor="let item of viewSchema">
                <ng-container
                  *ngIf="
                    item.type === 'text' && item.name === 'content';
                    else dynamic
                  ">
                  <df-script-editor
                    [type]="getControl('type')"
                    [storageServiceId]="getConfigControl('storageServiceId')"
                    [storagePath]="getConfigControl('storagePath')"
                    [content]="getConfigControl('content')"
                    [cache]="serviceData ? serviceData.name : ''"
                    class="full-width"></df-script-editor>
                </ng-container>
                <ng-template #dynamic>
                  <df-dynamic-field
                    *ngIf="
                      [
                        'integer',
                        'password',
                        'string',
                        'text',
                        'picklist',
                        'multi_picklist',
                        'boolean',
                        'file_certificate'
                      ].includes(item.type)
                    "
                    color="primary"
                    [schema]="item"
                    [formControl]="getConfigControl(item.name)"
                    [class.dynamic-width]="item.type !== 'file_certificate'"
                    [class.full-width]="
                      item.type === 'file_certificate'
                    "></df-dynamic-field>
                  <df-array-field
                    *ngIf="item.type === 'array' || item.type === 'object'"
                    [schema]="item"
                    [formControl]="getConfigControl(item.name)"
                    class="full-width"></df-array-field>
                </ng-template>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </ng-container>
    <div class="full-width action-bar" *ngIf="!subscriptionRequired">
      <button
        mat-flat-button
        class="cancel-btn"
        type="button"
        (click)="goBack()">
        {{ 'cancel' | transloco }}
      </button>
      <button mat-flat-button class="save-btn" color="primary">
        {{ 'save' | transloco }}
      </button>
    </div>
  </ng-template>
</form>
<df-paywall *ngIf="subscriptionRequired"></df-paywall>
