<h1 mat-dialog-title>Create Service</h1>
<div mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, quod nam!
    Voluptas soluta deleniti error sunt consequuntur quidem mollitia nemo, alias
    deserunt architecto eum iure vitae earum laudantium, quisquam doloribus!
  </p>
  <mat-form-field>
    <mat-label>Service Type</mat-label>
    <input matInput placeholder="Ex. Pizza" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button cdkFocusInitial>Create</button>
</div>
