@use '@angular/material' as mat;

$deep-purple-palette: mat.define-palette(mat.$deep-purple-palette);
$green-palette: mat.define-palette(mat.$green-palette);
$red-palette: mat.define-palette(mat.$red-palette);

.selected {
  background-color: mat.get-color-from-palette($deep-purple-palette, 100);
}

.active {
  color: mat.get-color-from-palette($green-palette, 500);
}

.inactive {
  color: mat.get-color-from-palette($red-palette, 500);
}

.top-action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
  .search-input {
    max-width: 300px !important;
  }
}

.bottom-action-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-data-row {
  td {
    text-align: center;
    padding: 32px;
  }
}
