<div class="top-action-bar">
  <button
    mat-mini-fab
    color="primary"
    [attr.aria-label]="'newEntry' | translate"
    (click)="createRow()">
    <fa-icon [icon]="faPlus" size="xl"></fa-icon>
  </button>
  <ng-content></ng-content>
  <div class="spacer"></div>
  <mat-form-field class="search-input" subscriptSizing="dynamic">
    <mat-label>{{ 'search' | translate }}</mat-label>
    <input matInput (keyup)="triggerSearch($event)" #search />
  </mat-form-field>
</div>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)">
  <ng-container *ngFor="let column of columns">
    <ng-container
      [matColumnDef]="column.columnDef"
      *ngIf="column.columnDef !== 'actions'">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [attr.sortActionDescription]="sortDescription(column.header!)">
        {{ column.header! | translate }}
      </th>
      <td mat-cell *matCellDef="let row">
        <fa-icon
          *ngIf="column.columnDef === 'active'"
          [icon]="activeIcon(!!column?.cell(row))"
          size="lg"
          [class]="!!column?.cell(row) ? 'active' : 'inactive'"></fa-icon>
        <ng-container *ngIf="column.columnDef === 'registration'">
          {{ (!!column?.cell(row) ? 'confirmed' : 'pending') | translate }}
        </ng-container>
        <ng-container
          *ngIf="
            column.columnDef !== 'active' && column.columnDef !== 'registration'
          ">
          {{ column?.cell(row) }}
        </ng-container>
      </td>
    </ng-container>
    <ng-container
      [matColumnDef]="column.columnDef"
      *ngIf="column.columnDef === 'actions'"
      stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="actions" mat-cell *matCellDef="let row">
        <ng-container *ngIf="(isSmallScreen | async) === false">
          <button
            mat-icon-button
            (click)="editRow(row)"
            [attr.aria-label]="editLabel(row)">
            <fa-icon [icon]="faPenToSquare" size="xs"></fa-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteRow(row)"
            [attr.aria-label]="deleteLabel(row)">
            <fa-icon [icon]="faTrashCan" size="xs"></fa-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="(isSmallScreen | async) === true">
          <button
            mat-icon-button
            [matMenuTriggerFor]="actionsMenu"
            aria-label="Actions">
            <fa-icon [icon]="faEllipsisV" size="xs"></fa-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button
              mat-menu-item
              (click)="editRow(row)"
              [attr.aria-label]="editLabel(row)">
              {{ 'edit' | translate }}
            </button>
            <button
              mat-menu-item
              (click)="deleteRow(row)"
              [attr.aria-label]="deleteLabel(row)">
              {{ 'delete' | translate }}
            </button>
          </mat-menu>
        </ng-container>
      </td>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="bottom-action-bar">
  <mat-paginator
    *ngIf="tableLength > defaultPageSize"
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons
    aria-label="Select page"
    [length]="tableLength"
    (page)="changePage($event)">
  </mat-paginator>
</div>
