<p>
  {{ 'roles.rolesOverview.description' | transloco }}
</p>
<!-- TODO add error banner -->
<form [formGroup]="roleForm" (ngSubmit)="onSubmit()" class="details-section">
  <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
    <mat-label>{{ 'name' | transloco }}</mat-label>
    <input matInput formControlName="name" required />
    <mat-error *ngIf="roleForm.controls['name'].hasError('required')">
      {{ 'roles.rolesOverview.error.name' | transloco }}
    </mat-error>
  </mat-form-field>
  <mat-slide-toggle formControlName="active" class="dynamic-width">{{
    'active' | transloco
  }}</mat-slide-toggle>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ 'description' | transloco }}</mat-label>
    <textarea rows="1" matInput formControlName="description"></textarea>
  </mat-form-field>

  <df-roles-access
    formArrayName="serviceAccess"
    class="full-width"></df-roles-access>

  <p>
    {{ 'roles.lookupKeys.description' | transloco }}
  </p>

  <df-lookup-keys
    formArrayName="lookupKeys"
    class="full-width"></df-lookup-keys>

  <div class="full-width action-bar">
    <button mat-flat-button type="button" (click)="goBack()">
      {{ 'cancel' | transloco }}
    </button>
    <button mat-flat-button color="primary">
      <span *ngIf="type === 'create'">
        {{ 'save' | transloco }}
      </span>
      <span *ngIf="type === 'edit'">
        {{ 'update' | transloco }}
      </span>
    </button>
  </div>
</form>
