<!-- eslint-disable prettier/prettier -->
<div>
  <div class="row">
    <div
      class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 df-auth-container df-section-all-round">
      <!-- Login Section -->
      <div class="df-auth-panel">
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg !== ''">
          <button type="button" class="close" (click)="dismissError()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ errorMsg }}
        </div>

        <div class="alert alert-success" role="alert" *ngIf="successMsg !== ''">
          <button type="button" class="close" (click)="dismissSuccess()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ successMsg }}
        </div>

        <div class="panel panel-default df-panel-heading">
          <div class="panel-heading">
            <!-- Page title -->
            <h3 class="panel-title">{{ loginFormTitle }}</h3>
          </div>
          <div class="panel-body form-controls">
            <div *ngIf="loginWaiting">
              <mat-spinner></mat-spinner>
            </div>
            <!-- Login Form -->
            <form
              name="loginForm"
              [formGroup]="loginFormGroup"
              (ngSubmit)="login()">
              <div *ngIf="adldapAvailable">
                <div class="form-group">
                  <span><i class="fa fa-fw fa-sign-in"></i>Services:</span>
                  <select
                    (change)="useAdLdapService(selectedService)"
                    class="form-control"
                    formControlName="selectedService">
                    <option *ngFor="let ldap of adldap" [value]="ldap.name">
                      -- {{ systemConfig.platform.host }} --
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div
                  class="input-group"
                  [ngClass]="{ 'has-error': emailError }">
                  <span class="input-group-addon"
                    ><i class="fa fa-fw {{ userField.icon }}"></i
                  ></span>
                  <mat-form-field>
                    <mat-label>Enter your {{ this.loginAttribute }}</mat-label>
                    <input
                      matInput
                      formControlName="userID"
                      type="{{ userField.type }}"
                      id="df-login-{{ userField.type }}"
                      name="df-login-{{ userField.type }}"
                      placeholder="{{ userField.text }}"
                      class="form-control"
                      required />
                    <mat-error
                      class="login-form-error-msg"
                      *ngIf="loginFormGroup.controls.userID.invalid"
                      >{{ getUserIDErrorMessage() }}</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="!hidePasswordField">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><i class="fa fa-fw fa-key"></i
                    ></span>
                    <mat-form-field>
                      <mat-label>Enter your password</mat-label>
                      <input
                        matInput
                        type="password"
                        id="df-login-password"
                        name="df-login-password"
                        placeholder="Enter Password"
                        formControlName="password"
                        class="form-control"
                        required />
                      <mat-error
                        class="login-form-error-msg"
                        *ngIf="loginFormGroup.controls.password.invalid"
                        >Enter correct password</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group" *ngIf="allowForeverSessions">
                  <div class="checkbox">
                    <label>
                      <input
                        matInput
                        type="checkbox"
                        [checked]="rememberMe"
                        formControlName="rememberMe"
                        (change)="rememberLogin(rememberMe)" />
                      Remember Me
                    </label>
                  </div>
                </div>

                <button
                  mat-raised-button
                  id="submit-login"
                  type="submit"
                  color="primary">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="pull-right">
          <a
            id="forgot-password-active"
            type="button"
            (click)="forgotPassword()"
            (keyup)="(forgotPassword)"
            tabindex="0"
            >Forgot Password</a
          >
        </div>
      </div>
      <!-- End Login Section -->

      <!-- TODO: this component is potentially a duplicate of reset password, address later -->
      <!-- <df-forgot-pword-email *ngIf="!loginActive"></df-forgot-pword-email> -->
    </div>
  </div>
</div>
