@use '@angular/material' as mat;
@use 'src/theme' as theme;
$df-purple-palette: mat.define-palette(theme.$df-purple-palette);
.search-dialog {
  padding-top: 20px;
}
.search-bar {
  min-width: 275px;
}
.search-container {
  max-height: 500px;
  min-width: 425px;
  &.small {
    min-width: 300px;
  }
  overflow: auto;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.result-item {
  width: 100%;
  justify-content: left;
  margin: 2px 0;
}

.dark-theme {
  &.search-dialog {
    background-color: mat.get-color-from-palette(
      $df-purple-palette,
      1003
    ) !important;
    border: 1px solid white;
  }
  ::ng-deep .mdc-notched-outline > * {
    border-color: white !important;
  }
  input,
  mat-label,
  mat-select,
  mat-option,
  textarea,
  span {
    color: white;
  }
  button {
    color: mat.get-color-from-palette($df-purple-palette, 200) !important;
    border: 1px solid mat.get-color-from-palette($df-purple-palette, 200) !important;
  }
}
