@use '@angular/material' as mat;
@use 'src/theme' as theme;
$df-purple-palette: mat.define-palette(theme.$df-purple-palette);

.plain-icon-link {
  color: mat.get-color-from-palette($df-purple-palette, 600);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 0px;
}

.link-icon {
  margin-right: 10px;
}
