<mat-tab-group>
  <mat-tab label="Scripts">
    <div class="script-button-container">
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button>Cancel</button>
    </div>
    <div class="script-services-menu" cdkMenuBar>
      <button
        *ngFor="let service of userServices"
        class="script-menu-bar-item"
        cdkMenuItem
        (click)="onSelectServiceClick(service)"
        [cdkMenuTriggerFor]="scriptKeys">
        {{ service.name }}
      </button>
    </div>

    <ng-template #scriptKeys>
      <div class="script-menu" cdkMenu>
        <button
          *ngFor="let key of selectedServiceKeys"
          class="script-menu-item"
          (click)="onServiceKeyClick(key)"
          [cdkMenuTriggerFor]="scriptEndpoints"
          cdkMenuItem>
          {{ key }}
        </button>
      </div>
    </ng-template>

    <ng-template #scriptEndpoints>
      <div class="script-menu" cdkMenu>
        <button
          *ngFor="let endpoint of selectedServiceEndpoints"
          class="script-menu-item"
          (click)="onServiceEndpointClick(endpoint)"
          cdkMenuItem>
          {{ endpoint }}
        </button>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Script Samples">
    <df-script-samples></df-script-samples>
  </mat-tab>
</mat-tab-group>
