form {
  .mat-mdc-form-field {
    padding-bottom: 10px;
  }

  .slide-toggle-container {
    display: grid;
    margin-bottom: 1rem;

    .mat-mdc-slide-toggle {
      padding-bottom: 10px;
    }
  }
}

.field-details-button-container {
  margin-top: 1rem;
}
