<div>
  <form [formGroup]="fieldDetailsForm">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.name' | transloco
      }}</mat-label>
      <input matInput formControlName="name" />
      <mat-error
        *ngIf="this.fieldDetailsForm.controls['name'].hasError('required')">
        {{ 'schema.fieldDetailsForm.errors.name' | transloco }}
      </mat-error>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.alias' | transloco
      }}</mat-label>
      <input matInput formControlName="alias" />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.label' | transloco
      }}</mat-label>
      <input matInput formControlName="label" />
    </mat-form-field>
    <div class="slide-toggle-container">
      <mat-slide-toggle formControlName="isVirtual">{{
        'schema.fieldDetailsForm.controls.isVirtual' | transloco
      }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="isAggregate">{{
        'schema.fieldDetailsForm.controls.isAggregate' | transloco
      }}</mat-slide-toggle>
    </div>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.type' | transloco
      }}</mat-label>
      <mat-select formControlName="type">
        <mat-option
          *ngFor="let option of typeDropdownMenuOptions"
          [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.databaseType' | transloco
      }}</mat-label>
      <input matInput formControlName="dbType" />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.length' | transloco
      }}</mat-label>
      <input type="number" matInput formControlName="length" />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.precision' | transloco
      }}</mat-label>
      <input type="number" matInput formControlName="precision" />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.scale' | transloco
      }}</mat-label>
      <input type="number" matInput formControlName="scale" />
    </mat-form-field>
    <div class="slide-toggle-container">
      <mat-slide-toggle formControlName="fixedLength">{{
        'schema.fieldDetailsForm.controls.fixedLength' | transloco
      }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="supportsMultibyte">{{
        'schema.fieldDetailsForm.controls.supportsMultibyte' | transloco
      }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="allowNull">{{
        'schema.fieldDetailsForm.controls.allowNull' | transloco
      }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="autoIncrement">{{
        'schema.fieldDetailsForm.controls.autoIncrement' | transloco
      }}</mat-slide-toggle>
    </div>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.defaultValue' | transloco
      }}</mat-label>
      <input matInput formControlName="default" />
    </mat-form-field>
    <div class="slide-toggle-container">
      <mat-slide-toggle formControlName="isIndex">{{
        'schema.fieldDetailsForm.controls.isIndex' | transloco
      }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="isUnique">{{
        'schema.fieldDetailsForm.controls.isUnique' | transloco
      }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="isPrimaryKey">{{
        'schema.fieldDetailsForm.controls.isPrimaryKey' | transloco
      }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="isForeignKey">{{
        'schema.fieldDetailsForm.controls.isForeignKey' | transloco
      }}</mat-slide-toggle>
    </div>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.refTable' | transloco
      }}</mat-label>
      <mat-select formControlName="refTable">
        <mat-option
          *ngFor="let table of referenceTableDropdownMenuOptions"
          [value]="table.name">
          {{ table.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.refField' | transloco
      }}</mat-label>
      <mat-select formControlName="refField">
        <mat-option
          *ngFor="let field of referenceFieldDropdownMenuOptions"
          [value]="field.name"
          >{{ field.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{
        'schema.fieldDetailsForm.controls.validation' | transloco
      }}</mat-label>
      <textarea
        matInput
        rows="4"
        cols="6"
        formControlName="validation"></textarea>
      <mat-error
        *ngIf="
          this.fieldDetailsForm.controls['validation'].hasError('jsonInvalid')
        ">
        {{ 'schema.fieldDetailsForm.errors.json' | transloco }}
      </mat-error>
    </mat-form-field>
    <df-function-use formArrayName="dbFunction"></df-function-use>
    <ng-container *ngIf="this.fieldDetailsForm.controls['picklist']"
      ><mat-form-field subscriptSizing="dynamic">
        <mat-label>{{
          'schema.fieldDetailsForm.controls.picklist' | transloco
        }}</mat-label>
        <input matInput formControlName="picklist" />
      </mat-form-field>
      <mat-error
        *ngIf="
          this.fieldDetailsForm.controls['picklist'].hasError('csvInvalid')
        ">
        {{ 'schema.fieldDetailsForm.errors.csv' | transloco }}
      </mat-error>
    </ng-container>
  </form>
  <div class="field-details-button-container">
    <button mat-flat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit()">
      {{ (databaseFieldToEdit ? 'save' : 'create') | transloco }} Field
    </button>
  </div>
</div>
