<!-- TODO: add translation to this file -->
<div>
  <form [formGroup]="fieldDetailsForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Alias</mat-label>
      <input matInput formControlName="alias" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput formControlName="label" />
    </mat-form-field>
    <div class="slide-toggle-container">
      <mat-slide-toggle formControlName="isVirtual"
        >Is Virtual?</mat-slide-toggle
      >
      <mat-slide-toggle formControlName="isAggregate"
        >Is Aggregate?</mat-slide-toggle
      >
    </div>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option
          *ngFor="let option of typeDropdownMenuOptions"
          [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Database Type</mat-label>
      <input matInput formControlName="databaseType" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Length</mat-label>
      <input matInput formControlName="length" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precision</mat-label>
      <input matInput formControlName="precision" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Scale</mat-label>
      <input matInput formControlName="scale" />
    </mat-form-field>
    <div class="slide-toggle-container">
      <mat-slide-toggle formControlName="fixedLength"
        >Fixed Length</mat-slide-toggle
      >
      <mat-slide-toggle formControlName="supportsMultibyte"
        >Supports Multibyte</mat-slide-toggle
      >
      <mat-slide-toggle formControlName="allowNull"
        >Allow Null</mat-slide-toggle
      >
      <mat-slide-toggle formControlName="autoIncrement"
        >Auto Increment</mat-slide-toggle
      >
    </div>
    <mat-form-field>
      <mat-label>Default Value</mat-label>
      <input matInput formControlName="defaultValue" />
    </mat-form-field>
    <div class="slide-toggle-container">
      <mat-slide-toggle formControlName="indexed">Indexed</mat-slide-toggle>
      <mat-slide-toggle formControlName="unique">Unique</mat-slide-toggle>
      <mat-slide-toggle formControlName="primaryKey"
        >Primary Key</mat-slide-toggle
      >
      <mat-slide-toggle formControlName="foreignKey"
        >Foreign Key</mat-slide-toggle
      >
    </div>
    <mat-form-field>
      <mat-label>Reference Table</mat-label>
      <mat-select formControlName="referenceTable">
        <mat-option
          *ngFor="let table of referenceTableDropdownMenuOptions"
          [value]="table.name">
          {{ table.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Reference Field</mat-label>
      <mat-select formControlName="referenceField">
        <mat-option
          *ngFor="let field of referenceFieldDropdownMenuOptions"
          [value]="field.name"
          >{{ field.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Validation</mat-label>
      <textarea
        matInput
        rows="4"
        cols="6"
        formControlName="validation"></textarea>
    </mat-form-field>
    <df-function-use formArrayName="dbFunctionUse"></df-function-use>
    <ng-container *ngIf="this.fieldDetailsForm.controls['picklist']"
      ><mat-form-field>
        <mat-label>Picklist</mat-label>
        <input matInput formControlName="picklist" /> </mat-form-field
    ></ng-container>
  </form>
  <div>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Add Field
    </button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </div>
</div>
