<div class="system-info-container">
  <p>
    {{ 'systemInfo.subheading' | transloco }}
  </p>
  <h2>DreamFactory {{ 'systemInfo.instance.instance' | transloco }}</h2>
  <div
    class="system-info-instance"
    [class.x-small]="breakpointService.isXSmallScreen | async">
    <div class="system-info-platform">
      <ul>
        <li>
          {{ 'systemInfo.instance.licenseLevel' | transloco }}:
          {{ platform.license }}
        </li>
        <li>
          {{ 'systemInfo.instance.licenseKey' | transloco }}:
          {{ platform.licenseKey }}
        </li>
        <li>
          {{ 'systemInfo.instance.subscriptionStatus' | transloco }}:
          <!-- TODO missing data {{subscriptionData.msg}} -->
        </li>

        <li>
          {{ 'systemInfo.instance.subscriptionExpirationDate' | transloco }}:
          <!-- TODO missing data {{subscriptionData.renewal_date}} -->
        </li>
        <li>
          DreamFactory
          {{ 'version' | transloco }}:
          {{ platform.version }}
        </li>
        <li>
          {{ 'systemInfo.instance.systemDatabase' | transloco }}:
          {{ platform.dbDriver }}
        </li>
        <li>
          {{ 'systemInfo.instance.installPath' | transloco }}:
          {{ platform.installPath }}
        </li>
        <li>
          {{ 'systemInfo.instance.logPath' | transloco }}:
          {{ platform.logPath }}
        </li>
        <li>
          {{ 'systemInfo.instance.logMode' | transloco }}:
          {{ platform.logMode }}
        </li>
        <li>
          {{ 'systemInfo.instance.logLevel' | transloco }}:
          {{ platform.logLevel }}
        </li>
        <li>
          {{ 'systemInfo.instance.cacheDriver' | transloco }}:
          {{ platform.cacheDriver }}
        </li>
        <li>
          {{ 'systemInfo.instance.demo' | transloco }}:
          {{ platform.isTrial }}
        </li>
        <li>
          DreamFactory
          {{ 'systemInfo.instance.instanceId' | transloco }}:
          {{ platform.dfInstanceId }}
        </li>
      </ul>
    </div>
    <div class="system-info-packages">
      <h3>{{ 'systemInfo.packages' | transloco }}</h3>
      <div class="package-header">
        <span>{{ 'name' | transloco }}</span
        ><span>{{ 'version' | transloco }}</span>
      </div>
      <div class="overflow-scroll">
        <ul>
          <li *ngFor="let package of platform.packages">
            <span>{{ package.name }}</span>
            <span>{{ package.version }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h2>{{ 'systemInfo.server.heading' | transloco }}</h2>
  <div class="system-info-server">
    <ul>
      <li>{{ 'systemInfo.server.os' | transloco }}: {{ server.serverOs }}</li>
      <li>
        {{ 'systemInfo.server.release' | transloco }}: {{ server.release }}
      </li>
      <li>{{ 'version' | transloco }}: {{ server.version }}</li>
      <li>{{ 'systemInfo.server.host' | transloco }}: {{ server.host }}</li>
      <li>
        {{ 'systemInfo.server.machine' | transloco }}: {{ server.machine }}
      </li>
      <li>PHP {{ 'version' | transloco }}: {{ php.phpVersion }}</li>
      <li>
        PHP {{ 'systemInfo.server.serverApi' | transloco }}:
        {{ php.serverApi }}
      </li>
    </ul>
  </div>
  <h2>{{ 'systemInfo.client.heading' | transloco }}</h2>
  <div class="system-info-client">
    <ul>
      <li>
        {{ 'systemInfo.client.userAgent' | transloco }}: {{ client.userAgent }}
      </li>
      <li>
        {{ 'systemInfo.client.ipAddress' | transloco }}: {{ client.ipAddress }}
      </li>
      <li>{{ 'systemInfo.client.Locale' | transloco }}: {{ client.locale }}</li>
    </ul>
  </div>
</div>
