<div class="system-info-container">
  <p>
    {{ 'systemInfo.subheading' | transloco }}
  </p>
  <h2>DreamFactory {{ 'systemInfo.instance.instance' | transloco }}</h2>
  <div
    class="system-info-instance"
    [class.x-small]="breakpointService.isXSmallScreen | async">
    <div class="system-info-platform">
      <ul>
        <li>
          {{ 'systemInfo.instance.licenseLevel' | transloco }}:
          {{ environment.platform?.license }}
        </li>
        <li>
          {{ 'systemInfo.instance.licenseKey' | transloco }}:
          {{ environment.platform?.licenseKey }}
        </li>
        <li>
          {{ 'systemInfo.instance.subscriptionStatus' | transloco }}:
          {{ status.msg }}
        </li>

        <li>
          {{ 'systemInfo.instance.subscriptionExpirationDate' | transloco }}:
          {{ status.renewalDate }}
        </li>
        <li>
          DreamFactory
          {{ 'version' | transloco }}:
          {{ environment.platform?.version }}
        </li>
        <li *ngIf="environment.platform?.dbDriver">
          {{ 'systemInfo.instance.systemDatabase' | transloco }}:
          {{ environment.platform?.dbDriver }}
        </li>
        <li *ngIf="environment.platform?.installPath">
          {{ 'systemInfo.instance.installPath' | transloco }}:
          {{ environment.platform?.installPath }}
        </li>
        <li *ngIf="environment.platform?.logPath">
          {{ 'systemInfo.instance.logPath' | transloco }}:
          {{ environment.platform?.logPath }}
        </li>
        <li *ngIf="environment.platform?.logMode">
          {{ 'systemInfo.instance.logMode' | transloco }}:
          {{ environment.platform?.logMode }}
        </li>
        <li *ngIf="environment.platform?.logLevel">
          {{ 'systemInfo.instance.logLevel' | transloco }}:
          {{ environment.platform?.logLevel }}
        </li>
        <li *ngIf="environment.platform?.cacheDriver">
          {{ 'systemInfo.instance.cacheDriver' | transloco }}:
          {{ environment.platform?.cacheDriver }}
        </li>
        <li *ngIf="environment.platform?.isTrial">
          {{ 'systemInfo.instance.demo' | transloco }}:
          {{ environment.platform?.isTrial }}
        </li>
        <li *ngIf="environment.platform?.dfInstanceId">
          DreamFactory
          {{ 'systemInfo.instance.instanceId' | transloco }}:
          {{ environment.platform?.dfInstanceId }}
        </li>
      </ul>
    </div>
    <div class="system-info-packages" *ngIf="environment.platform?.packages">
      <h3>{{ 'systemInfo.packages' | transloco }}</h3>
      <div class="package-header">
        <span>{{ 'name' | transloco }}</span
        ><span>{{ 'version' | transloco }}</span>
      </div>
      <div class="overflow-scroll">
        <ul>
          <li *ngFor="let package of environment.platform?.packages">
            <span>{{ package.name }}</span>
            <span>{{ package.version }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h2>{{ 'systemInfo.server.heading' | transloco }}</h2>
  <div class="system-info-server">
    <ul>
      <li>
        {{ 'systemInfo.server.os' | transloco }}:
        {{ environment.server.serverOs }}
      </li>
      <li>
        {{ 'systemInfo.server.release' | transloco }}:
        {{ environment.server.release }}
      </li>
      <li>{{ 'version' | transloco }}: {{ environment.server.version }}</li>
      <li>
        {{ 'systemInfo.server.host' | transloco }}:
        {{ environment.server.host }}
      </li>
      <li>
        {{ 'systemInfo.server.machine' | transloco }}:
        {{ environment.server.machine }}
      </li>
      <ng-container *ngIf="environment.php">
        <li>
          PHP {{ 'version' | transloco }}:
          {{ environment.php.core.phpVersion }}
        </li>
        <li>
          PHP {{ 'systemInfo.server.serverApi' | transloco }}:
          {{ environment.php.general.serverApi }}
        </li>
      </ng-container>
    </ul>
  </div>
  <h2>{{ 'systemInfo.client.heading' | transloco }}</h2>
  <div class="system-info-client">
    <ul>
      <li>
        {{ 'systemInfo.client.userAgent' | transloco }}:
        {{ environment.client?.userAgent }}
      </li>
      <li>
        {{ 'systemInfo.client.ipAddress' | transloco }}:
        {{ environment.client?.ipAddress }}
      </li>
      <li>
        {{ 'systemInfo.client.Locale' | transloco }}:
        {{ environment.client?.locale }}
      </li>
    </ul>
  </div>
</div>
