<div class="user-management-card-container">
  <mat-card class="user-management-card">
    <df-alert
      [showAlert]="showAlert"
      [alertType]="alertType"
      (alertClosed)="showAlert = false"
      >{{ alertMsg }}</df-alert
    >
    <mat-card-header>
      <mat-card-title>
        {{ 'userManagement.passwordReset' | transloco }}
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form
        name="forget-password-form"
        [formGroup]="forgetPasswordForm"
        (ngSubmit)="requestReset()"
        *ngIf="!hasSecurityQuestion">
        <mat-form-field appearance="fill" *ngIf="loginAttribute === 'email'">
          <mat-label>
            {{ 'userManagement.controls.email.label' | transloco }}</mat-label
          >
          <input matInput type="email" formControlName="email" />
          <mat-error
            *ngIf="
              forgetPasswordForm.get('email')?.errors?.['email'] &&
              !forgetPasswordForm.get('email')?.errors?.['required']
            ">
            {{ 'userManagement.controls.email.errors.invalid' | transloco }}
          </mat-error>
          <mat-error
            *ngIf="
              !forgetPasswordForm.get('email')?.errors?.['email'] &&
              forgetPasswordForm.get('email')?.errors?.['required']
            ">
            {{ 'userManagement.controls.email.errors.required' | transloco }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="loginAttribute === 'username'">
          <mat-label>{{
            'userManagement.controls.username.altLabel' | transloco
          }}</mat-label>
          <input matInput type="text" formControlName="username" />
          <mat-error
            *ngIf="forgetPasswordForm.get('username')?.errors?.['required']">
            {{ 'userManagement.controls.username.errors.required' | transloco }}
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">
          {{ 'userManagement.requestPasswordReset' | transloco }}
        </button>
      </form>
      <form
        name="security-questions-form"
        [formGroup]="securityQuestionForm"
        (ngSubmit)="resetPassword()"
        *ngIf="hasSecurityQuestion">
        <mat-form-field appearance="fill">
          <mat-label>
            {{
              'userManagement.controls.securityQuestion.label' | transloco
            }}</mat-label
          >
          <input
            matInput
            type="text"
            formControlName="securityQuestion"
            [readonly]="true" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{
              'userManagement.controls.securityAnswer.label' | transloco
            }}</mat-label
          >
          <input matInput type="text" formControlName="securityAnswer" />
          <mat-error
            *ngIf="securityQuestionForm.get('answer')?.errors?.['required']">
            {{
              'userManagement.controls.securityAnswer.errors.required'
                | transloco
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{
            'userManagement.controls.password.label' | transloco
          }}</mat-label>
          <input matInput type="password" formControlName="newPassword" />
          <mat-error
            *ngIf="
              securityQuestionForm.get('newPassword')?.errors?.['required']
            ">
            {{ 'userManagement.controls.password.errors.required' | transloco }}
          </mat-error>
          <mat-error
            *ngIf="
              securityQuestionForm.get('newPassword')?.errors?.['minlength']
            ">
            {{ 'userManagement.controls.password.errors.length' | transloco }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{
            'userManagement.controls.confirmPassword.label' | transloco
          }}</mat-label>

          <input matInput type="password" formControlName="confirmPassword" />
          <mat-error
            *ngIf="
              securityQuestionForm
                .get('confirmPassword')
                ?.hasError('doesNotMatch')
            ">
            {{
              'userManagement.controls.confirmPassword.errors.match' | transloco
            }}
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">
          {{ 'userManagement.resetPassword' | transloco }}
        </button>
      </form>
      <div class="action-links">
        <a mat-button [routerLink]="loginRoute" target="_self">{{
          'userManagement.login' | transloco
        }}</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
