<div *ngIf="showTemplate">
  <div class="row">
    <div
      class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 df-auth-container df-section-all-round">
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg !== ''">
        <button type="button" class="close" (click)="dismissError()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ errorMsg }}
      </div>

      <div class="alert alert-success" role="alert" *ngIf="successMsg !== ''">
        <button type="button" class="close" (click)="dismissSuccess()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ successMsg }}
      </div>

      <!-- Reset Password Section -->
      <div>
        <!-- Page title -->
        <div class="panel panel-default df-panel-heading">
          <div class="panel-heading">
            <!-- Page title -->
            <h3 class="panel-title">Reset Password</h3>
          </div>
          <div class="panel-body">
            <!-- <df-waiting [show]="resetWaiting"></df-waiting> -->

            <form
              name="reset-password-form"
              [formGroup]="resetForm"
              (ngSubmit)="handleResetPassword()"
              autocomplete="off">
              <div class="form-group" *ngIf="resetByEmail">
                <div class="input-group">
                  <mat-form-field appearance="fill">
                    <mat-label
                      ><span class="input-group-addon"
                        ><i class="fa fa-fw fa-envelope"></i></span
                      >Enter email</mat-label
                    >
                    <input
                      matInput
                      type="email"
                      class="form-control"
                      id="df-password-reset-email"
                      name="df-password-reset-email"
                      formControlName="email"
                      autocomplete="off" />
                  </mat-form-field>

                  <div
                    *ngIf="
                      resetForm.get('email')?.invalid &&
                      (resetForm.get('email')?.dirty ||
                        resetForm.get('email')?.touched)
                    ">
                    <div *ngIf="resetForm.get('email')?.errors?.['required']">
                      Email is required.
                    </div>
                    <div *ngIf="resetForm.get('email')?.errors?.['email']">
                      Invalid email format.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="resetByUsername">
                <div class="input-group">
                  <mat-form-field appearance="fill">
                    <mat-label
                      ><span class="input-group-addon"
                        ><i class="fa fa-fw fa-user"></i></span
                      >Enter Username</mat-label
                    >
                    <input
                      matInput
                      type="text"
                      id="df-passsword-reset-username"
                      name="df-passsword-reset-username"
                      class="form-control"
                      formControlName="username"
                      autocomplete="off" />
                  </mat-form-field>
                  <div
                    *ngIf="
                      resetForm.get('username')?.invalid &&
                      (resetForm.get('username')?.dirty ||
                        resetForm.get('username')?.touched)
                    ">
                    <div
                      *ngIf="resetForm.get('username')?.errors?.['required']">
                      Username is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <mat-form-field appearance="fill">
                    <mat-label
                      ><span class="input-group-addon"
                        ><i class="fa fa-fw fa-question"></i></span
                      >Enter confirmation code</mat-label
                    >
                    <input
                      matInput
                      type="text"
                      id="df-passsword-reset-code"
                      name="df-passsword-reset-code"
                      class="form-control"
                      formControlName="code"
                      autocomplete="off" />
                  </mat-form-field>
                  <div
                    *ngIf="
                      resetForm.get('code')?.invalid &&
                      (resetForm.get('code')?.dirty ||
                        resetForm.get('code')?.touched)
                    ">
                    <div *ngIf="resetForm.get('code')?.errors?.['required']">
                      Confirmation code is required.
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="form-group"
                [class.has-error]="resetForm.get('verify_password')?.invalid">
                <div class="input-group">
                  <mat-form-field appearance="fill">
                    <mat-label
                      ><span class="input-group-addon"
                        ><i class="fa fa-fw fa-key"></i></span
                      >Enter password</mat-label
                    >
                    <input
                      matInput
                      type="password"
                      class="form-control"
                      id="df-password-reset-password"
                      name="df-password-reset-password"
                      placeholder="Enter Password"
                      formControlName="new_password"
                      autocomplete="off" />
                  </mat-form-field>

                  <div
                    *ngIf="
                      resetForm.get('new_password')?.invalid &&
                      (resetForm.get('new_password')?.dirty ||
                        resetForm.get('new_password')?.touched)
                    ">
                    <div
                      *ngIf="
                        resetForm.get('new_password')?.errors?.['required']
                      ">
                      New password is required.
                    </div>
                    <div
                      *ngIf="
                        resetForm.get('new_password')?.errors?.['minlength']
                      ">
                      New password must be at least 5 characters long.
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="form-group"
                [class.has-error]="resetForm.get('verify_password')?.invalid">
                <div class="input-group">
                  <mat-form-field appearance="fill">
                    <mat-label
                      ><span class="input-group-addon"
                        ><i class="fa fa-fw fa-check"></i></span
                      >Confirm Password</mat-label
                    >
                    <input
                      matInput
                      type="password"
                      class="form-control"
                      id="df-password-reset-verify-password"
                      name="df-password-reset-verify-password"
                      placeholder="Verify Password"
                      formControlName="verify_password"
                      autocomplete="off" />
                  </mat-form-field>

                  <div
                    *ngIf="
                      resetForm.get('verify_password')?.invalid &&
                      (resetForm.get('verify_password')?.dirty ||
                        resetForm.get('verify_password')?.touched)
                    ">
                    <div
                      *ngIf="
                        resetForm.get('verify_password')?.errors?.['required']
                      ">
                      New password is required.
                    </div>
                    <div
                      *ngIf="
                        resetForm.get('verify_password')?.errors?.['minlength']
                      ">
                      New password must be at least 5 characters long.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button
                  mat-button
                  type="submit"
                  id="submit-password-reset"
                  class="btn btn-primary btn-block"
                  [disabled]="resetForm.invalid || resetWaiting">
                  Reset Password
                </button>
              </div>
              <div *ngIf="identical === false" class="alert alert-danger">
                Passwords do not match.
              </div>
              <div *ngIf="errorMsg" class="alert alert-danger">
                {{ errorMsg }}
              </div>
              <div *ngIf="successMsg" class="alert alert-success">
                {{ successMsg }}
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Reset Section -->
    </div>
  </div>
</div>
