.reset-password-card {
  position: relative;
  padding: 0 20px 20px;
  margin: 70px auto 0;
  min-width: 300px;
  max-width: 445px;

  mat-card-header {
    padding: 20px;
  }

  mat-form-field,
  button {
    width: 100%;
  }

  mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
