<mat-card *ngIf="showTemplate" class="reset-password-card">
  <div class="alert alert-danger" *ngIf="errorMsg !== ''">
    <button type="button" class="close" (click)="dismissError()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ errorMsg }}
  </div>

  <div class="alert alert-success" *ngIf="successMsg !== ''">
    <button type="button" class="close" (click)="dismissSuccess()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ successMsg }}
  </div>

  <mat-card-header>
    <mat-card-title>
      {{ 'userManagement.controls.resetPassword.label' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <df-waiting [show]="resetWaiting"></df-waiting> -->
    <!-- TODO <mat-spinner [show]="resetWaiting"></mat-spinner> -->

    <form
      name="reset-password-form"
      [formGroup]="passwordResetForm"
      (ngSubmit)="resetPassword()">
      <div *ngIf="resetByEmail">
        <div
          *ngIf="
            passwordResetForm.get('email')?.invalid &&
            (passwordResetForm.get('email')?.dirty ||
              passwordResetForm.get('email')?.touched)
          ">
          <mat-error
            *ngIf="passwordResetForm.get('email')?.errors?.['required']">
            {{ 'userManagement.controls.emailRequired.label' | translate }}
          </mat-error>
          <mat-error *ngIf="passwordResetForm.get('email')?.errors?.['email']">
            {{ 'userManagement.controls.invalidEmail.label' | translate }}
          </mat-error>
        </div>
        <mat-form-field appearance="fill">
          <mat-label
            ><span class="input-group-addon"
              ><i class="fa fa-fw fa-envelope"></i></span
            >{{ 'userManagement.controls.email.label' | translate }}</mat-label
          >
          <input
            matInput
            type="email"
            id="df-password-reset-email"
            name="df-password-reset-email"
            formControlName="email"
            [readonly]="passwordResetForm.controls['email'].value" />
        </mat-form-field>
      </div>

      <div *ngIf="resetByUsername">
        <div
          *ngIf="
            passwordResetForm.get('username')?.invalid &&
            (passwordResetForm.get('username')?.dirty ||
              passwordResetForm.get('username')?.touched)
          ">
          <mat-error
            *ngIf="passwordResetForm.get('username')?.errors?.['required']">
            {{ 'userManagement.controls.usernameRequired.label' | translate }}
          </mat-error>
        </div>
        <mat-form-field appearance="fill">
          <mat-label
            ><span class="input-group-addon"
              ><i class="fa fa-fw fa-user"></i></span
            >{{
              'userManagement.controls.enterUsername.label' | translate
            }}</mat-label
          >
          <input
            matInput
            type="text"
            id="df-passsword-reset-username"
            name="df-passsword-reset-username"
            formControlName="username"
            [readonly]="passwordResetForm.controls['username'].value" />
        </mat-form-field>
      </div>

      <div
        *ngIf="
          passwordResetForm.get('code')?.invalid &&
          (passwordResetForm.get('code')?.dirty ||
            passwordResetForm.get('code')?.touched)
        ">
        <mat-error *ngIf="passwordResetForm.get('code')?.errors?.['required']">
          {{ 'userManagement.controls.codeRequired.label' | translate }}
        </mat-error>
      </div>
      <mat-form-field appearance="fill">
        <mat-label
          ><span class="input-group-addon"
            ><i class="fa fa-fw fa-question"></i
          ></span>
          {{ 'userManagement.controls.enterCode.label' | translate }}</mat-label
        >
        <input
          matInput
          type="text"
          id="df-passsword-reset-code"
          name="df-passsword-reset-code"
          formControlName="code"
          [readonly]="passwordResetForm.controls['code'].value" />
      </mat-form-field>

      <div
        *ngIf="
          passwordResetForm.get('new_password')?.invalid &&
          (passwordResetForm.get('new_password')?.dirty ||
            passwordResetForm.get('new_password')?.touched)
        ">
        <mat-error
          *ngIf="passwordResetForm.get('new_password')?.errors?.['required']">
          {{ 'userManagement.controls.newPasswordRequired.label' | translate }}
        </mat-error>
        <mat-error
          *ngIf="passwordResetForm.get('new_password')?.errors?.['minlength']">
          {{ 'userManagement.controls.passwordLength.label' | translate }}
        </mat-error>
      </div>
      <mat-form-field appearance="fill">
        <mat-label
          ><span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span
          >{{ 'userManagement.controls.password.label' | translate }}</mat-label
        >
        <input
          matInput
          type="password"
          id="df-password-reset-password"
          name="df-password-reset-password"
          formControlName="new_password" />
      </mat-form-field>

      <div
        *ngIf="
          passwordResetForm.get('confirm_password')?.invalid &&
          (passwordResetForm.get('confirm_password')?.dirty ||
            passwordResetForm.get('confirm_password')?.touched)
        ">
        <mat-error
          *ngIf="
            passwordResetForm.get('confirm_password')?.errors?.['required']
          ">
          {{
            'userManagement.controls.confirmPasswordRequired.label' | translate
          }}
        </mat-error>
        <mat-error
          *ngIf="
            passwordResetForm.get('confirm_password')?.errors?.['minlength']
          ">
          {{ 'userManagement.controls.passwordLength.label' | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            passwordResetForm.get('confirm_password')?.hasError('notmatched')
          ">
          {{ 'userManagement.controls.passwordMatch.label' | translate }}
        </mat-error>
      </div>
      <mat-form-field
        *ngIf="!passwordResetForm.get('confirm_password')?.value"
        appearance="fill">
        <mat-label
          ><span class="input-group-addon"
            ><i class="fa fa-fw fa-check"></i></span
          >{{
            'userManagement.controls.confirmPassword.label' | translate
          }}</mat-label
        >

        <input
          matInput
          type="password"
          id="df-password-reset-verify-password"
          name="df-password-reset-verify-password"
          formControlName="confirm_password" />
      </mat-form-field>
      <button
        mat-flat-button
        type="submit"
        id="submit-password-reset"
        class="btn btn-primary btn-block"
        [disabled]="passwordResetForm.invalid || resetWaiting">
        {{ 'userManagement.controls.resetPassword.label' | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
