<div class="user-management-card-container">
  <mat-card class="user-management-card">
    <df-alert
      [showAlert]="showAlert"
      [alertType]="alertType"
      (alertClosed)="showAlert = false"
      >{{ alertMsg }}</df-alert
    >
    <mat-card-header>
      <mat-card-title>
        {{
          'userManagement.' +
            (type === 'reset'
              ? 'resetPassword'
              : type === 'register'
              ? 'registrationConfirmation'
              : 'invitatonConfirmation') | transloco
        }}
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form
        name="reset-password-form"
        [formGroup]="passwordResetForm"
        (ngSubmit)="resetPassword()">
        <mat-form-field appearance="fill" *ngIf="loginAttribute === 'email'">
          <mat-label>
            {{ 'userManagement.controls.email.label' | transloco }}</mat-label
          >
          <input matInput type="email" formControlName="email" />
          <mat-error
            *ngIf="
              passwordResetForm.get('email')?.errors?.['email'] &&
              !passwordResetForm.get('email')?.errors?.['required']
            ">
            {{ 'userManagement.controls.email.errors.invalid' | transloco }}
          </mat-error>
          <mat-error
            *ngIf="
              !passwordResetForm.get('email')?.errors?.['email'] &&
              passwordResetForm.get('email')?.errors?.['required']
            ">
            {{ 'userManagement.controls.email.errors.required' | transloco }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="loginAttribute === 'username'">
          <mat-label>{{
            'userManagement.controls.username.altLabel' | transloco
          }}</mat-label>
          <input matInput type="text" formControlName="username" />
          <mat-error
            *ngIf="passwordResetForm.get('username')?.errors?.['required']">
            {{ 'userManagement.controls.username.errors.required' | transloco }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>
            {{
              'userManagement.controls.confirmationCode.label' | transloco
            }}</mat-label
          >
          <input matInput type="text" formControlName="code" />
          <mat-error
            *ngIf="passwordResetForm.get('code')?.errors?.['required']">
            {{
              'userManagement.controls.confirmationCode.errors.required'
                | transloco
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{
            'userManagement.controls.password.' +
              (type === 'reset' ? 'label' : 'altLabel') | transloco
          }}</mat-label>
          <input matInput type="password" formControlName="newPassword" />
          <mat-error
            *ngIf="passwordResetForm.get('newPassword')?.errors?.['required']">
            {{ 'userManagement.controls.password.errors.required' | transloco }}
          </mat-error>
          <mat-error
            *ngIf="passwordResetForm.get('newPassword')?.errors?.['minlength']">
            {{ 'userManagement.controls.password.errors.length' | transloco }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{
            'userManagement.controls.confirmPassword.' +
              (type === 'reset' ? 'label' : 'altLabel') | transloco
          }}</mat-label>

          <input matInput type="password" formControlName="confirmPassword" />
          <mat-error
            *ngIf="
              passwordResetForm.get('confirmPassword')?.hasError('doesNotMatch')
            ">
            {{
              'userManagement.controls.confirmPassword.errors.match' | transloco
            }}
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">
          {{
            (type === 'reset'
              ? 'userManagement.resetPassword'
              : 'userManagement.confirmUser'
            ) | transloco
          }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
