<ng-container
  *ngIf="{
    isFirstTimeUser: isFirstTimeUser$ | async
  } as data">
  <div [class]="(isDarkMode | async) ? 'dark-theme' : ''">
    <section
      class="two-column-flex-container"
      [class.mobile]="breakpointService.isSmallScreen | async">
      <article class="flex-column">
        <article>
          <h2>
            {{ 'home.welcomePage.generateYourApis' | transloco }}
          </h2>
          <div class="button-group" aria-labelledby="welcome-heading">
            <df-generate-api-card
              *ngFor="let card of generateApiCardsData"
              [icon]="card.icon"
              [headerText]="card.headerTextKey"
              [text]="card.textKey"
              [routerLink]="card.route"
              [cardFinalBackgroundColor]="card.bgColor"
              [cardFinalHeaderColor]="card.headerColor">
            </df-generate-api-card>
          </div>
        </article>
        
        <!-- Dashboard Section -->
        <article class="dashboard-section">
          <df-dashboard></df-dashboard>
        </article>
        
        <article>
          <h3 id="learn-more-heading">
            {{ 'home.welcomePage.learnMoreHeading' | transloco }}
          </h3>
          <ul
            class="learn-more-links-list"
            aria-labelledby="learn-more-heading">
            <ng-container *ngFor="let resource of welcomePageResources">
              <li
                *ngIf="
                  data.isFirstTimeUser ||
                  resource.name === 'home.resourceLinks.gettingStartedGuide' ||
                  resource.name === 'home.resourceLinks.fullDocumentation' ||
                  resource.name === 'home.resourceLinks.blog' ||
                  resource.name === 'home.resourceLinks.contactSupport'
                ">
                <df-icon-link [linkItem]="resource"></df-icon-link>
              </li>
            </ng-container>
          </ul>
        </article>
      </article>
    </section>
    <section class="platforms-section">
      <div>
        <h2>GitHub Releases</h2>
        <div class="release-container">
          <div *ngFor="let release of releases">
            <mat-card
              class="full-width release-card"
              [style]="{ 'word-break': 'break-all' }">
              <mat-card-header>
                <mat-card-subtitle>{{ release.name }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>Tag: {{ release.tag_name }}</p>
                <p>Published at: {{ convertDateType(release.published_at) }}</p>
              </mat-card-content>
              <mat-card-actions>
                <a [href]="release.html_url" target="_blank" class="release-btn"
                  >View Release</a
                >
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </section>
    <!-- <mat-divider></mat-divider>

  <section class="platforms-section">
    <h3>
      {{ 'home.quickstartPage.quickstartSubHeading' | transloco }}
    </h3>

    <ol aria-labelledby="quickstart-instructions-heading">
      <p>{{ 'home.quickstartPage.quickstartSteps.stepOne' | transloco }}</p>
      <p>{{ 'home.quickstartPage.quickstartSteps.stepTwo' | transloco }}</p>
      <p>{{ 'home.quickstartPage.quickstartSteps.stepThree' | transloco }}</p>
    </ol>
    <article>
      <h4 id="javascript-examples-heading">
        {{ 'home.welcomePage.javaScriptExamplesHeading' | transloco }}
      </h4>

      <ul
        class="flex-list-container"
        [class.x-small]="breakpointService.isXSmallScreen | async"
        aria-labelledby="javascript-examples-heading">
        <li *ngFor="let link of javaScriptExampleLinks">
          <df-icon-card-link [linkInfo]="link"></df-icon-card-link>
        </li>
      </ul>
    </article>
  </section>
  <mat-divider></mat-divider>
  <df-download-page></df-download-page> -->
  </div>
</ng-container>
