@use '@angular/material' as mat;
@import '../adf-home.module.scss';

$orange-palette: mat.define-palette(mat.$orange-palette);

.two-column-flex-container {
  display: flex;
  justify-content: stretch;
  padding-bottom: 50px;
}

.flex-column {
  flex-basis: 50%;
}

.video-link {
  position: relative;
}

.video-image {
  max-width: 100%;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.play-icon {
  margin-bottom: 15px;
  margin-top: -90px;
}

#video-link-description {
  font-size: 18px;
  font-weight: bold;
}

mat-card.notice-card {
  padding: 30px;
  margin-bottom: 40px;
}

.pre-heading-icon {
  margin-right: 10px;
  color: mat.get-color-from-palette($orange-palette, 300);
}
