<div class="df-cors-config-container">
  <h4>{{ 'cors.pageSubtitle' | transloco }}</h4>
  <form [formGroup]="corsForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>{{ 'cors.formControls.path' | transloco }}</mat-label>
      <input matInput type="url" formControlName="path" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'cors.formControls.description' | transloco }}</mat-label>
      <input matInput type="text" formControlName="description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'cors.formControls.origins' | transloco }}</mat-label>
      <input matInput type="text" formControlName="origins" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'cors.formControls.headers' | transloco }}</mat-label>
      <input matInput type="text" formControlName="headers" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{
        'cors.formControls.exposedHeaders' | transloco
      }}</mat-label>
      <input matInput type="text" formControlName="exposedHeaders" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'cors.formControls.maxAge' | transloco }}</mat-label>
      <input matInput type="number" formControlName="maxAge" />
    </mat-form-field>
    <df-verb-picker
      formControlName="methods"
      [schema]="{
        label: 'cors.formControls.methods' | transloco
      }"
      type="verb_multiple"></df-verb-picker>
    <div class="slide-toggle-container">
      <ng-container>
        <mat-slide-toggle formControlName="credentials">
          {{ 'cors.formControls.supportsCredentials' | transloco }}
        </mat-slide-toggle>
      </ng-container>
      <ng-container>
        <mat-slide-toggle formControlName="enabled">
          {{ 'cors.formControls.enabled' | transloco }}
        </mat-slide-toggle>
      </ng-container>
    </div>
    <div>
      <button mat-raised-button (click)="onCancel()">
        {{ 'cancel' | transloco }}
      </button>
      <button mat-raised-button color="primary">
        {{ 'save' | transloco }}
      </button>
    </div>
  </form>
</div>
