<df-alert
  [showAlert]="showAlert"
  [alertType]="alertType"
  (alertClosed)="showAlert = false">
  {{ alertMsg }}
</df-alert>
<mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Basic">
    <h4>{{ 'scheduler.taskOverviewSubtitle' | transloco }}</h4>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      class="details-section">
      <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
        <mat-label>{{ 'scheduler.form.label.name' | transloco }}</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-slide-toggle formControlName="active" class="dynamic-width">{{
        'scheduler.form.label.active' | transloco
      }}</mat-slide-toggle>
      <mat-form-field subscriptSizing="dynamic" class="full-width">
        <mat-label>{{
          'scheduler.form.label.description' | transloco
        }}</mat-label>
        <textarea
          rows="1"
          matInput
          placeholder="Description"
          formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
        <mat-label>{{ 'scheduler.form.label.service' | transloco }}</mat-label>
        <mat-select formControlName="serviceId">
          <mat-option
            *ngFor="let service of userServicesDropdownOptions"
            [value]="service.id">
            {{ service.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        subscriptSizing="dynamic"
        *ngIf="componentDropdownOptions.length"
        class="dynamic-width">
        <mat-label>{{
          'scheduler.form.label.component' | transloco
        }}</mat-label>
        <mat-select formControlName="component">
          <mat-option
            *ngFor="let item of componentDropdownOptions"
            [value]="item"
            >{{ item }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
        <mat-label>{{
          'scheduler.form.label.frequency' | transloco
        }}</mat-label>
        <input matInput type="number" formControlName="frequency" />
      </mat-form-field>
      <ng-container *ngIf="this.formGroup.controls['payload']">
        <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
          <mat-label>{{
            'scheduler.form.label.payload' | transloco
          }}</mat-label>
          <textarea rows="1" matInput formControlName="payload"></textarea>
        </mat-form-field>
      </ng-container>
      <df-verb-picker
        class="dynamic-width"
        formControlName="method"
        [schema]="{
          label: 'scheduler.form.label.method' | transloco
        }"></df-verb-picker>
      <div class="full-width action-bar">
        <button mat-flat-button type="button" (click)="onCancel()">
          {{ 'cancel' | transloco }}
        </button>
        <button mat-flat-button color="primary">
          {{ 'save' | transloco }}
        </button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Log">
    <div class="details-section">
      <p>
        {{ 'scheduler.logs.statusCode' | transloco }}:
        {{ scheduleToEdit?.taskLogByTaskId?.statusCode }}
      </p>
      <df-ace-editor [readonly]="true" [value]="log" class="full-width" />
      <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="onCancel()">
        {{ 'goBack' | transloco }}
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
