@use '@angular/material' as mat;
@use 'src/theme' as theme;

$df-purple-palette: mat.define-palette(theme.$df-purple-palette);

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  width: 100%;
  height: 100%;
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: mat.get-color-from-palette($df-purple-palette, 500);
    opacity: 0.3;
  }
  .spinner {
    position: absolute;
    animation: spin 5s linear infinite;
    transform-origin: center center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
