@use '@angular/material' as mat;
@use 'src/theme' as theme;
$df-purple-palette: mat.define-palette(theme.$df-purple-palette);

mat-card {
  word-wrap: break-word;
}
.api-card,
.location-card {
  background-color: mat.get-color-from-palette($df-purple-palette, 100);
}
.action-bar {
  display: flex;
  justify-content: flex-end;
}
