.form-container {
  div {
    padding: 20px;

    &.app-info {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;
    }
  }
}

.mat-mdc-card {
  max-width: 300px;
  word-break: break-all;
}

.small {
  .mat-mdc-card {
    max-width: 100%;
  }
}
