.platforms-section,
.installers-section {
  article {
    padding: 25px 0;
  }
}

section {
  padding-top: 30px;
  padding-bottom: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.flex-list-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  &.x-small {
    justify-content: center;
  }
}
