<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="row">
  <div class="form-group col-md-6">
    <label>Service Type</label>
    <!-- TODO: The component below is a tooltip, should implement a reusable a tooltip component -->
    <!-- <df-simple-help data-options="dfSimpleHelp.serviceType"></df-simple-help
    ><br /> -->

    <div class="dropdown df-inputs-row" *ngIf="newService">
      <button
        id="services_info_type"
        class="btn btn-default dropdown-toggle"
        type="button"
        data-toggle="dropdown">
        {{ selectedSchema!.label || 'Select Service Type' }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li
          class="dropdown-submenu"
          *ngFor="let service of serviceTypes; index as index">
          <a id="services_info_type_{{ index }}" class="sub" tabindex="-1">{{
            service.group_name
          }}</a>
          <ul
            class="dropdown-menu {{
              service.group_types.length > serviceTypesSingleColLimit
                ? 'dropdown-menu-2'
                : ''
            }}">
            <li *ngFor="let type of service.group_types">
              <a
                href=""
                id="services_info_type_select_{{ type.name }}"
                (click)="changeServiceType(type.name)"
                >{{ type.label }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="form-group df-inputs-row" *ngIf="!newService">
      <button
        type="button"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        disabled="disabled">
        {{ selectedSchema!.label }} <span class="caret"></span>
      </button>
    </div>

    <div
      class="form-group df-inputs-row"
      *ngIf="selectedSchema && selectedSchema.config">
      <br />
      <label>Namespace</label>
      <!-- TODO: The component below is a tooltip, should implement a reusable a tooltip component -->
      <!-- <df-simple-help data-options="dfSimpleHelp.name"></df-simple-help> -->
      <input
        id="services_info_name"
        class="form-control"
        [formControl]="namespace"
        ng-blur="validateServiceName()"
        type="text" />
    </div>

    <div
      class="form-group df-inputs-row"
      *ngIf="selectedSchema && selectedSchema.config">
      <label>Label</label>
      <!-- TODO: The component below is a tooltip, should implement a reusable a tooltip component -->
      <!-- <df-simple-help data-options="dfSimpleHelp.label"></df-simple-help> -->
      <input
        id="services_info_label"
        class="form-control"
        [formControl]="label"
        type="text" />
    </div>

    <div
      class="form-group df-inputs-row"
      *ngIf="selectedSchema && selectedSchema.config">
      <label>Description</label>
      <!-- TODO: The component below is a tooltip, should implement a reusable a tooltip component -->
      <!-- <df-simple-help data-options="dfSimpleHelp.description"></df-simple-help> -->
      <input
        id="services_info_description"
        class="form-control"
        [formControl]="description"
        type="text" />
    </div>

    <div
      class="form-group ng-scope"
      *ngIf="selectedSchema && selectedSchema.config">
      <div class="checkbox">
        <label
          ><input
            id="services_info_active"
            [formControl]="isActive"
            type="checkbox" />Active</label
        >
      </div>
    </div>
  </div>

  <!-- <div *ngIf="!newService" class="col-md-6">
    <div class="links-card">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a
            ng-click="goToSelectedServiceScripts(serviceInfo)"
            style="cursor: pointer"
            >Scripted Endpoints associated with {{ serviceInfo.name }}</a
          >
        </li>
        <li>
          <a style="cursor: pointer" href="#/apidocs">See API Documentation</a>
        </li>
      </ul>

      <div *ngIf="!$root.dataLoading">
        <h4>Roles Associated with this Service</h4>
        <div *ngIf="$root.relatedRoles.length != 0">
          <ul>
            <li ng-repeat="role in $root.relatedRoles">
              <a
                (click)="goToSelectedServiceRole(role)"
                style="cursor: pointer"
                >{{ role.name }}</a
              >
            </li>
          </ul>
        </div>
        <div *ngIf="$root.relatedRoles.length === 0">
          <p>You haven't assigned any roles to this service.</p>
          <div class="form-controls">
            <a
              href="#/roles#create"
              class="btn btn-default btn-primary save-service-btn"
              >Create Role-based Access to this Service!</a
            >
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
