<div class="row">
  <div class="form-group col-md-6">
    <h3>Service Type</h3>
    <br />

    <div class="dropdown df-inputs-row" *ngIf="newService">
      <button
        id="services_info_type"
        class="btn btn-default dropdown-toggle"
        type="button"
        data-toggle="dropdown">
        {{ selectedSchema!.label || 'Select Service Type' }}
        <span class="caret"></span>
      </button>
    </div>

    <div class="form-group df-inputs-row" *ngIf="!newService">
      <button
        type="button"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        disabled="disabled">
        {{ selectedSchema!.label }} <span class="caret"></span>
      </button>
    </div>

    <div
      class="form-group df-inputs-row"
      *ngIf="selectedSchema && selectedSchema.config">
      <br />
      <h3>Namespace</h3>
      <input
        id="services_info_name"
        class="form-control"
        [formControl]="namespace"
        ng-blur="validateServiceName()"
        type="text" />
    </div>

    <div
      class="form-group df-inputs-row"
      *ngIf="selectedSchema && selectedSchema.config">
      <h3>Label</h3>
      <input
        id="services_info_label"
        class="form-control"
        [formControl]="label"
        type="text" />
    </div>

    <div
      class="form-group df-inputs-row"
      *ngIf="selectedSchema && selectedSchema.config">
      <h3>Description</h3>
      <input
        id="services_info_description"
        class="form-control"
        [formControl]="description"
        type="text" />
    </div>

    <div
      class="form-group ng-scope"
      *ngIf="selectedSchema && selectedSchema.config">
      <div class="checkbox">
        <label
          ><input
            id="services_info_active"
            [formControl]="isActive"
            type="checkbox" />Active</label
        >
      </div>
    </div>
  </div>
</div>
