<h1 mat-dialog-title>
  {{ isCreateServiceEnabled ? 'Create' : 'Manage' }} Service
</h1>
<div class="service-info-container" mat-dialog-content>
  <div class="stepper-container">
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Info</ng-template>
          <mat-form-field>
            <mat-label>{{
              'services.selectServiceType' | translate
            }}</mat-label>
            <mat-select [disabled]="!isCreateServiceEnabled">
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'services.Namespace' | translate }}</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'services.Label' | translate }}</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'services.Description' | translate }}</mat-label>
            <input matInput />
          </mat-form-field>
          <div>
            <button mat-button (click)="onClose()">
              {{ 'services.close' | translate }}
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Config">
        <form [formGroup]="secondFormGroup">
          <p>Config Section</p>
          <div>
            <button mat-button matStepperPrevious>
              {{ 'services.back' | translate }}
            </button>
            <button mat-button matStepperNext>
              {{ 'services.next' | translate }}
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Definition</ng-template>
        <df-service-definition></df-service-definition>
        <div>
          <button mat-button matStepperPrevious>
            {{ 'services.back' | translate }}
          </button>
          <button mat-button (click)="stepper.reset()">
            {{ 'services.reset' | translate }}
          </button>
          <button mat-button (click)="onSubmit()">
            {{
              (isCreateServiceEnabled ? 'services.create' : 'services.update')
                | translate
            }}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
