<h1 mat-dialog-title>
  {{ isCreateServiceEnabled ? 'Create' : 'Manage' }} Service
</h1>
<div class="service-info-container" mat-dialog-content>
  <div class="stepper-container">
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Info</ng-template>
          <mat-form-field>
            <mat-label>{{
              'services.selectServiceType' | translate
            }}</mat-label>
            <mat-select
              [disabled]="!isCreateServiceEnabled"
              formControlName="selectedServiceName"
              (valueChange)="onChangeSelectServiceName($event)">
              <mat-option
                *ngFor="let option of selectServiceDropdownOptions"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="selectServiceNameDropdownValue">
            <mat-label>{{
              'services.selectSpecificServiceType' | translate
            }}</mat-label>
            <mat-select
              formControlName="selectedServiceType"
              (valueChange)="onChangeSelectServiceType($event)">
              <mat-option
                *ngFor="let option of serviceTypeDropdownOptions"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="selectServiceNameDropdownValue">
            <mat-label>{{ 'services.namespace' | translate }}</mat-label>
            <input formControlName="namespace" matInput />
          </mat-form-field>
          <mat-form-field *ngIf="selectServiceNameDropdownValue">
            <mat-label>{{ 'services.label' | translate }}</mat-label>
            <input formControlName="label" matInput />
          </mat-form-field>
          <mat-form-field *ngIf="selectServiceNameDropdownValue">
            <mat-label>{{ 'services.description' | translate }}</mat-label>
            <input formControlName="description" matInput />
          </mat-form-field>
          <div>
            <button mat-button (click)="onClose()">
              {{ 'services.close' | translate }}
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Config">
        <form #dynamicForm="ngForm">
          <h2>Config Section</h2>
          <div *ngIf="selectServiceTypeDropdownValue" class="config-fields">
            <div *ngFor="let field of selectedService.configSchema">
              <mat-form-field
                *ngIf="
                  field.type &&
                  (field.type === 'string' || field.type === 'text')
                ">
                <mat-label>
                  {{ field.label }}
                </mat-label>
                <input
                  [(ngModel)]="formData['config'][field.name]"
                  [name]="field.name"
                  type="text"
                  matInput />
              </mat-form-field>
              <mat-form-field *ngIf="field.type && field.type === 'password'">
                <mat-label>
                  {{ field.label }}
                </mat-label>
                <input
                  [(ngModel)]="formData['config'][field.name]"
                  [name]="field.name"
                  type="password"
                  matInput />
              </mat-form-field>
              <mat-form-field *ngIf="field.type && field.type === 'integer'">
                <mat-label>
                  {{ field.label }}
                </mat-label>
                <input
                  [(ngModel)]="formData['config'][field.name]"
                  [name]="field.name"
                  type="number"
                  matInput />
              </mat-form-field>
              <div *ngIf="field.type && field.type === 'boolean'">
                <mat-checkbox
                  [(ngModel)]="formData['config'][field.name]"
                  [name]="field.name"
                  >{{ field.label }}</mat-checkbox
                >
              </div>
              <mat-form-field *ngIf="field.type && field.type === 'picklist'">
                <mat-label>
                  {{ field.label }}
                </mat-label>
                <mat-select>
                  <mat-option
                    *ngFor="let option of field.values"
                    [(ngModel)]="formData['config'][option.name]"
                    [name]="field.name"
                    [value]="option.label">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                *ngIf="field.type && field.type === 'multi_picklist'">
                <mat-label>
                  {{ field.label }}
                </mat-label>
                <mat-select multiple>
                  <mat-option
                    *ngFor="let option of field.values"
                    [(ngModel)]="formData['config'][option.name]"
                    [name]="field.name"
                    [value]="option.label">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="field.type && field.type === 'array'">
                <mat-form-field *ngFor="let item of field.items">
                  <input *ngIf="item.type === 'string'" matInput type="text" />
                  <mat-checkbox *ngIf="item.type === 'boolean'">{{
                    item.label
                  }}</mat-checkbox>
                  <mat-select *ngIf="item.type === 'verb_mask'" multiple>
                    <mat-option
                      *ngFor="let option of httpVerbsDropdownOptions"
                      >{{ option }}</mat-option
                    >
                  </mat-select>
                  <mat-select *ngIf="item.type === 'picklist'">
                    <mat-option
                      *ngFor="let option of item.values"
                      [value]="option.label"
                      >{{ option.label }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>
              {{ 'services.back' | translate }}
            </button>
            <button mat-button matStepperNext>
              {{ 'services.next' | translate }}
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Definition</ng-template>
        <df-service-definition></df-service-definition>
        <div>
          <button mat-button matStepperPrevious>
            {{ 'services.back' | translate }}
          </button>
          <button mat-button (click)="stepper.reset()">
            {{ 'services.reset' | translate }}
          </button>
          <button mat-button (click)="onSubmit()">
            {{
              (isCreateServiceEnabled ? 'services.create' : 'services.update')
                | translate
            }}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
