

.lnik-service-accordion {
  padding: 16px 0;
}

.mat-column-actions {
  max-width: 10%;
}
.mat-column-private {
  max-width: 10%;
}
.mat-mdc-cell {
  padding: 8px;
}

.form-field-gap {
  margin-top: 10px;
  margin-bottom: 10px;
}