<df-alert
  [showAlert]="showAlert"
  [alertType]="alertType"
  (alertClosed)="showAlert = false"
  >{{ alertMsg }}</df-alert
>
<form [formGroup]="formGroup" class="details-section" (ngSubmit)="onSubmit()">
  <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
    <mat-label>{{ 'limits.name' | transloco }}</mat-label>
    <input matInput type="text" formControlName="limitName" />
  </mat-form-field>
  <df-verb-picker
    class="dynamic-width"
    formControlName="verb"
    [schema]="{
      label: 'limits.verb' | transloco,
      description: 'limits.verbTooltip' | transloco
    }"></df-verb-picker>
  <mat-form-field subscriptSizing="dynamic" class="full-width">
    <mat-label>{{ 'limits.description' | transloco }}</mat-label>
    <textarea
      rows="1"
      matInput
      type="text"
      formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
    <mat-label>{{ 'limits.limitType' | transloco }}</mat-label>
    <mat-select formControlName="limitType">
      <mat-option *ngFor="let limitType of limitTypes" [value]="limitType.value"
        >{{ limitType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="this.formGroup.controls['serviceId']">
    <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
      <mat-label>{{ 'limits.service' | transloco }}</mat-label>
      <mat-select formControlName="serviceId">
        <mat-option
          *ngFor="let service of serviceDropdownOptions"
          [value]="service.id"
          >{{ service.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="this.formGroup.controls['roleId']">
    <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
      <mat-label>{{ 'limits.role' | transloco }}</mat-label>
      <mat-select formControlName="roleId">
        <mat-option *ngFor="let role of roleDropdownOptions" [value]="role.id"
          >{{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="this.formGroup.controls['userId']">
    <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
      <mat-label>{{ 'limits.user' | transloco }}</mat-label>
      <mat-select formControlName="userId">
        <mat-option *ngFor="let user of userDropdownOptions" [value]="user.id"
          >{{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="this.formGroup.controls['endpoint']">
    <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
      <mat-label>{{ 'limits.endpoint' | transloco }}</mat-label>
      <input matInput type="text" formControlName="endpoint" />
    </mat-form-field>
  </ng-container>
  <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
    <mat-label>{{ 'limits.limitRate' | transloco }}</mat-label>
    <input matInput type="number" formControlName="limitRate" />
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic" class="dynamic-width">
    <mat-label>{{ 'limits.limitPeriod' | transloco }}</mat-label>
    <mat-select formControlName="limitPeriod">
      <mat-option
        *ngFor="let limitPeriod of limitPeriods"
        [value]="limitPeriod.value"
        >{{ limitPeriod.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container>
    <mat-slide-toggle class="full-width" formControlName="active">{{
      'limits.active' | transloco
    }}</mat-slide-toggle>
  </ng-container>
  <div class="full-width action-bar">
    <button type="button" mat-flat-button (click)="onCancel()">
      {{ 'cancel' | transloco }}
    </button>
    <button mat-flat-button color="primary">
      {{ 'save' | transloco }}
    </button>
  </div>
</form>
