<h2>Quickstart</h2>

<p>Dummy text pending real text</p>

<ol>
  <li>Click on your favourite client platform below...</li>
  <li>Follow the instructions in the README file...</li>
  <li>If you have any problems...</li>
</ol>

<mat-divider></mat-divider>

<h3>
  Click on a client platform below to download a sample application and learn
  how to make API calls:
</h3>

<h4>Native Examples</h4>

<ul class="flex-list-container">
  <li *ngFor="let link of nativeExampleLinks">
    <df-icon-card-link [linkInfo]="link"></df-icon-card-link>
  </li>
</ul>

<h4>JavaScript Examples</h4>
