<df-manage-apps-table>
  <ng-container topActions>
    <button
      mat-mini-fab
      color="primary"
      [attr.aria-label]="'importList' | translate"
      (click)="import()">
      <fa-icon [icon]="faUpload" size="xl"></fa-icon>
    </button>
  </ng-container>
  <ng-template let-row #itemActions>
    <a
      *ngIf="row.launchUrl"
      mat-menu-item
      [href]="row.launchUrl"
      [attr.aria-label]="'launchApp' | translate: { appName: row.name }">
      {{ 'launch' | translate }}
    </a>
  </ng-template>
</df-manage-apps-table>
