<df-manage-apps-table>
  <button
    mat-mini-fab
    type="button"
    color="primary"
    [attr.aria-label]="'apps.importApp.title' | translate"
    (click)="gotoImport()">
    <fa-icon [icon]="faFileImport" size="xl"></fa-icon>
  </button>
  <button mat-stroked-button [matMenuTriggerFor]="menu">
    {{ 'apps.sampleApps.label' | translate }}
  </button>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let sample of sampleApps"
      (click)="openSample(sample.repoUrl)">
      {{ sample.name }}
    </button>
  </mat-menu>
</df-manage-apps-table>
