<!-- TODO add error banner -->
<div
  class="email-template-details-container"
  [class.x-small]="breakpointService.isXSmallScreen | async">
  <form
    [formGroup]="emailTemplateForm"
    (ngSubmit)="onSubmit()"
    class="details-section">
    <mat-form-field class="dynamic-width">
      <mat-label>{{
        'emailTemplates.templateName.label' | transloco
      }}</mat-label>
      <input
        matInput
        formControlName="name"
        required
        placeholder="{{
          'emailTemplates.templateName.placeholder' | transloco
        }}" />
      <mat-error
        *ngIf="emailTemplateForm.controls['name'].hasError('required')">
        {{ 'emailTemplates.templateName.error' | transloco }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="dynamic-width">
      <mat-label>{{
        'emailTemplates.templateDescription.label' | transloco
      }}</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="{{
          'emailTemplates.templateDescription.placeholder' | transloco
        }}" />
    </mat-form-field>

    <mat-form-field class="third-width">
      <mat-label>{{ 'emailTemplates.recipient.label' | transloco }}</mat-label>
      <input matInput formControlName="to" />
    </mat-form-field>

    <mat-form-field class="third-width">
      <mat-label>{{ 'emailTemplates.cc.label' | transloco }}</mat-label>
      <input matInput formControlName="cc" />
    </mat-form-field>

    <mat-form-field class="third-width">
      <mat-label>{{ 'emailTemplates.bcc.label' | transloco }}</mat-label>
      <input matInput formControlName="bcc" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ 'emailTemplates.subject.label' | transloco }}</mat-label>
      <input
        matInput
        formControlName="subject"
        placeholder="{{ 'emailTemplates.subject.placeholder' | transloco }}" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ 'emailTemplates.attachment.label' | transloco }}</mat-label>
      <input
        matInput
        formControlName="attachment"
        placeholder="{{
          'emailTemplates.attachment.placeholder' | transloco
        }}" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ 'emailTemplates.body' | transloco }}</mat-label>
      <textarea
        rows="1"
        matInput
        formControlName="body"
        class="email-template-body"></textarea>
    </mat-form-field>

    <mat-form-field class="dynamic-width">
      <mat-label>{{ 'emailTemplates.senderName.label' | transloco }}</mat-label>
      <input
        matInput
        formControlName="senderName"
        placeholder="{{
          'emailTemplates.senderName.placeholder' | transloco
        }}" />
    </mat-form-field>

    <mat-form-field class="dynamic-width">
      <mat-label>{{
        'emailTemplates.senderEmail.label' | transloco
      }}</mat-label>
      <input
        matInput
        formControlName="senderEmail"
        placeholder="{{
          'emailTemplates.senderEmail.placeholder' | transloco
        }}" />
    </mat-form-field>

    <mat-form-field class="dynamic-width">
      <mat-label>{{
        'emailTemplates.replyToName.label' | transloco
      }}</mat-label>
      <input
        matInput
        formControlName="replyToName"
        placeholder="{{
          'emailTemplates.replyToName.placeholder' | transloco
        }}" />
    </mat-form-field>

    <mat-form-field class="dynamic-width">
      <mat-label>{{
        'emailTemplates.replyToEmail.label' | transloco
      }}</mat-label>
      <input
        matInput
        formControlName="replyToEmail"
        placeholder="{{
          'emailTemplates.replyToEmail.placeholder' | transloco
        }}" />
    </mat-form-field>

    <div class="full-width action-bar">
      <button mat-flat-button type="button" (click)="goBack()">
        {{ 'cancel' | transloco }}
      </button>
      <button mat-flat-button color="primary">
        <span *ngIf="editApp">{{ 'update' | transloco }}</span>
        <span *ngIf="!editApp">{{ 'save' | transloco }}</span>
      </button>
    </div>
  </form>
</div>
