/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.user-management-card {
  position: relative;
  padding: 16px 16px;
  margin: 70px auto 0;
  min-width: 300px;
  max-width: 445px;
  mat-card-header {
    padding-bottom: 16px;
  }
  mat-card-content {
    padding-top: 16px;
  }
  mat-form-field,
  button {
    width: 100%;
  }
  .action-links {
    display: flex;
    justify-content: flex-end;
  }
}

.action-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  padding-top: 32px;
}
.tab-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  mat-divider {
    margin: 16px 0;
  }
  .large & {
    width: 100%;
  }

  .large & {
    width: 50%;
  }
}
mat-form-field {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
.mdc-snackbar {
  > * {
    background: transparent !important;
    box-shadow: none !important;
  }
}
