/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'src/theme' as theme;
@import 'src/dark-style.scss';
$df-purple-palette: mat.define-palette(theme.$df-purple-palette);

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: mat.get-color-from-palette($df-purple-palette, 600);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.user-management-card {
  position: relative;
  padding: 16px 16px;
  margin: 70px auto 0;
  min-width: 300px;
  max-width: 445px;
  mat-card-header {
    padding-bottom: 16px;
  }
  mat-card-content {
    padding-top: 16px;
  }
  mat-form-field,
  button {
    width: 100%;
  }
  .action-links {
    display: flex;
    justify-content: flex-end;
  }
}

.action-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 0;
}
.tab-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .large & {
    width: 100%;
  }

  .large & {
    width: 50%;
  }
}
mat-form-field {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
.mdc-snackbar {
  > * {
    background: transparent !important;
    box-shadow: none !important;
  }
}

.no-data-row {
  td {
    text-align: center;
    padding: 32px;
  }
}

.tool-tip-trigger {
  padding: 0 8px;
}

.details-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  padding-top: 6px;
  & .full-width {
    width: 100%;
  }
  & .half-width {
    width: calc(50% - 8px);
  }
  & .fourth-width {
    width: calc(24.6% - 8px);
    .small & {
      width: calc(50% - 8px);
    }
  }
  & .dynamic-width {
    width: calc(50% - 8px);
    .small & {
      width: 100%;
    }
  }
  & .third-width {
    width: calc(33% - 9px);
    .small & {
      width: 100%;
    }
  }
}

fa-icon.mat-mdc-tooltip-trigger {
  color: mat.get-color-from-palette($df-purple-palette, 400);
}

.mat-mdc-tab-group {
  height: 100%;
}

.mat-mdc-tab-body-content {
  padding: 8px;
  height: 100%;
}

// light mode
a {
  color: mat.get-color-from-palette($df-purple-palette, 600);
}

// Step
.mat-step-icon-selected {
  background-color: mat.get-color-from-palette(
    $df-purple-palette,
    400
  ) !important;
}
.mat-step-icon-state-edit {
  background-color: mat.get-color-from-palette(
    $df-purple-palette,
    400
  ) !important;
}

// Radio Button
.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control
  + .mdc-radio__background
  .mdc-radio__outer-circle {
  border-color: black !important;
}

.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__outer-circle {
  border-color: mat.get-color-from-palette($df-purple-palette, 600) !important;
}

.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: mat.get-color-from-palette($df-purple-palette, 600) !important;
}

// Checkbox
.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background,
.mdc-checkbox__ripple {
  background-color: mat.get-color-from-palette(
    $df-purple-palette,
    600
  ) !important;
  border-color: mat.get-color-from-palette($df-purple-palette, 600) !important;
}

// Button
.save-btn {
  background-color: mat.get-color-from-palette(
    $df-purple-palette,
    400
  ) !important;
  color: white !important;
  border-radius: 20px !important;
}
.cancel-btn {
  color: mat.get-color-from-palette($df-purple-palette, 1001) !important;
  border: 1px solid mat.get-color-from-palette($df-purple-palette, 1001) !important;
  border-radius: 20px !important;
}
.action-btn {
  color: mat.get-color-from-palette($df-purple-palette, 500) !important;
}
// Select
.mat-mdc-select-arrow {
  color: unset !important;
}
// Tab
.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: mat.get-color-from-palette($df-purple-palette, 500) !important;
}

// Swagger
.swagger-ui .opblock .opblock-section-header {
  background: unset !important;
}

.popup-backdrop {
  background: rgba(0,0,0,0.6) !important;
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px) !important;
}
