<div class="details-section" [class]="(isDarkMode | async) ? 'dark-theme' : ''">
  <div class="actions full-width">
    <input
      type="file"
      [accept]=""
      #fileInput
      (change)="fileUpload($event)"
      style="display: none" />
    <button
      type="button"
      mat-flat-button
      class="save-btn"
      (click)="fileInput.click()"
      [disabled]="!storageServiceId || !storageServiceId.getRawValue()">
      {{ 'desktopFile' | transloco }}
    </button>
    <button
      type="button"
      mat-flat-button
      class="save-btn"
      (click)="githubImport()"
      [disabled]="!storageServiceId || !storageServiceId.getRawValue()">
      {{ 'githubFile' | transloco }}
    </button>
  </div>
  <mat-checkbox [(ngModel)]="checked">
    {{ 'scripts.path' | transloco }}?</mat-checkbox
  >
  <ng-container *ngIf="checked">
    <mat-form-field
      *ngIf="!storageServiceId || !storageServiceId.getRawValue()"
      class="full-width"
      subscriptSizing="dynamic">
      <mat-label>{{ 'path' | transloco }}</mat-label>
      <input matInput [formControl]="storagePath" />
    </mat-form-field>
  </ng-container>
  <div class="actions" *ngIf="storageServiceId.getRawValue()">
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="viewLatest()"
      [disabled]="!storageServiceId || !storageServiceId.getRawValue()">
      {{ 'scripts.viewLatest' | transloco }}
    </button>
    <button
      *ngIf="cache"
      mat-flat-button
      color="primary"
      type="button"
      (click)="deleteCache()">
      {{ 'scripts.deleteCache' | transloco }}
    </button>
  </div>

  <df-ace-editor
    class="full-width"
    [formControl]="content"
    [mode]="type.getRawValue()"></df-ace-editor>
</div>
