<header class="page-header">
  <div class="page-header__inner">
    <ng-content select="[pageHeaderBreadcrumb]"></ng-content>

    <div class="page-header__bar">
      <div class="page-header__heading">
        <span class="page-header__eyebrow" *ngIf="eyebrow">{{ eyebrow }}</span>
        <h1 class="page-header__title">{{ title }}</h1>
        <p class="page-header__description" *ngIf="description">
          {{ description }}
        </p>
      </div>

      <div class="page-header__actions">
        <ng-content select="[pageHeaderActions]"></ng-content>
      </div>
    </div>

    <div class="page-header__tabs">
      <ng-content select="[pageHeaderTabs]"></ng-content>
    </div>
  </div>
</header>
